/* トップ画面(照会)と各メニュー */
a		{
			text-decoration:none;
			font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
		}

.title1	{
			font-size: 11pt;
			color: #FFFFFF;
			font-weight: bold;
			font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
		}

.title2 {
			font-size: 10pt;
			color: #FFFFFF;
			font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
		}

.title3 {
			font-size: 11pt;
			color: #FFFFFF;
			cursor: pointer;
			font-weight: bold;
			font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
		}

.title4	{
			font-size: 11pt;
			color: #0000CC;
			font-weight: bold;
			font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
		}

.title5	{
			font-size: 13pt;
			color: #FFFFFF;
			font-weight: bold;
			font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
		}

.title6	{
			font-size: 10pt;
			color: #0000CC;
			font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
		}

.title7 {
			font-size: 10pt;
			color: #FFFFFF;
			text-decoration:underline;
			font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
		}

.title7 {
			font-size: 10pt;
			color: #FFFFFF;
			text-decoration:underline;
			font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
		}

.title8 {
			font-size: 11pt;
			color: #FFFFFF;
			font-weight: bold;
			font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
		}
		
.title9 {
			font-size: 11pt;
			color: #000000;
			font-weight: bold;
			font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
		}
		
a:hover.title1	{
					text-decoration:underline;
					font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
				}

a:hover.title2	{
					text-decoration:underline;
					font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
				}

a:hover.title3	{
					text-decoration:underline;
					font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
				}

a:hover.title7	{
					text-decoration:underline;
					font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
				}

/* 明細ヘッダー */
.subtitle	{
				font-size: 10pt;
				color: #FFFFFF;
				font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
			}
			
.subtitle2	{
				font-size: 9pt;
				color: #FFFFFF;
				font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
			}
			
/* 明細レコード */
.record1		{
					font-size: 10pt;
					font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
				}

.record2 		{
					font-size: 10pt;
					color: #FF0000;
					font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
				}

.record3 		{
					font-size: 10pt;
					color: #C0C0C0;
					font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
				}
				
.record4		{
					font-size: 8pt;
					font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
				}

/* 注文画面 */
/* タイトル */
.title	{
			font-size: 13pt;
			color: #FFFFFF;
			font-weight: bold;
			font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
		}

/* 項目 */
.item	{
			font-size: 10pt;
			color: #FFFFFF;
			font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
		}

/* 項目の設定 */
.itemset{
		}
		
/* 各メニューの項目に対する設定 */
.menuref{
			font-size: 10pt;
			font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
        }

/* レコード */
.record	{
			font-size: 10pt;
			font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
		}

.strongred	{
				font-size: 10pt;
				color: #FF0000;
				font-weight: bold;
				font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
			}

/* 選択条件 */
.select	{
			font-size: 10pt;
			font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
		}

/* 新規注文-成行(2WAY)確認画面　及び　決済注文-成行(表示レート)確認画面のレート */
.ratesell	{
				font-size: 24pt;
				color: #0000FF;
				font-weight: bold;
				font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
			}

.ratebuy	{
				font-size: 24pt;
				color: #FF0066;
				font-weight: bold;
				font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
			}

/* コンテンツメニュー*/
.menu	{
			font-size: 10pt; 
			color: #003399; 
			cursor: pointer;
			font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
		}

a:hover.menu	{
					text-decoration: underline;
					color: #CC3399;
					font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
				}

/* 取引・入出金・報告書・顧客情報メニュー */
.menu1	{ 
			font-size: 11pt;
			color: #FFFFFF; 
			cursor: pointer;
			font-weight: bold;
			font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
		}

a:hover.menu1   {
					text-decoration: underline;
					font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
				}

.link1	{
			font-size: 10pt;
			font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
		}

.link2	{
			font-size: 10pt;
			color: #FFFFFF;
			font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
		}

.link3	{
			font-size: 10pt;
			color: #000000;
			font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
		}

.link4	{
			font-size: 10pt;
			color: #CC3399;
			font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
		}

.link5	{
			font-size: 10pt;
			color: #003399;
			text-decoration:underline;
			font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
		}
		
.link6	{
			font-size: 11pt;
			color: #003399;
			text-decoration:underline;
			font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
		}
		
.link7	{
			font-size: 10pt;
			color: #CC0033;
			text-decoration:underline;
			font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
		}
		
.link8	{
			font-size: 10pt;
			color: #3F679D;
			text-decoration:underline;
			font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
		}
/*2015.09.11 add >>>>>*/
.link9	{
			font-size: 10pt;
			color: #0d5a95;
			text-decoration:underline;
			font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
		}		
/*2015.09.11 add <<<<<*/	
a:hover.link1	{
					text-decoration:underline;
					font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
				}

a:hover.link2	{
					text-decoration:underline;
					font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
				}

a:hover.link3	{
					text-decoration:underline;
					font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
				}

a:hover.link4	{
					text-decoration:underline;
					font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
				}

a:hover.link5	{
					text-decoration:underline;
					color: #CC3399;
					font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
				}
				
a:hover.link7	{
					text-decoration:underline;
					color: #FF0000;
					font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
				}
				
a:hover.link8	{
					text-decoration:underline;
					color: #3F679D;
					font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
				}
				
.scroll			{
					font-size: 8pt;
					color: #CC3399;
					font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
				}

a:hover.scroll	{
					text-decoration: underline;
					font-size: 8pt;
					color: #CC3399;
					font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
				}

.smlmenu		{
					font-size: 8pt;
					color: #0000FF;
					font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
				}

a:hover.smlmenu{
					font-size: 8pt;
					color: #0000FF;
					font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
				}

.copy	{
			font-size: 8pt;
			color: #FFFFFF;
			font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
		}

.copy2	{
			font-size: 8pt;
			color: #666666;
			font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
		}

.imglink	{
				font-size: 10pt;
				cursor: pointer;
				font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
			}

.explain1	{
				font-size: 10pt;
				color: #FF3300;
				font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
			}

.explain2	{
				font-size: 10pt;
				font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
			}

.alert		{
				font-size: 10pt;
				color: #000000;
				font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
			}

.prohibit	{
				font-size: 10pt;
				color: #000000;
				font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
			}

.text1		{
				font-size: 10pt;
				font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
			}

.text2		{
				font-size: 10pt;
				color: #0000FF;
				font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
			}

.text3		{
				font-size: 9pt;
				font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
			}

/* クイック入金*/
.bank	{
			font-size: 10pt;
			color: #003399;
			font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
		}

a:hover.bank	{
					text-decoration: underline;
					color: #CC3399;
					font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
				}

.eyecatch	{
				font-size: 10pt;
				color: #FF0000;
				font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
			}

/* 新規注文-成行(2WAY)確認画面　及び　決済注文-成行(表示レート)確認画面の残り時間 */
div#time	{
				font-size: 11pt;
				font-weight: bold;
				font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
			}
			
.nowpage	{
/* 2015.10.08 modify >>>>> */
/*
				font-size: 11pt;
*/
				font-size: 13pt;
/* 2015.10.08 modify <<<<< */
				font-weight: bold;
				font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
			} 

/* ログイン画面 ※金商法に基づく注意書きフォント */
.login1		{
				font-size: 12pt;
				font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
			}
			
/* お客様情報設定メニュー画面 ※金商法に基づく注意書きフォント */
.cus_menu1	{
				font-size: 13pt;
				color: #3366FF;
				font-weight: bold;
				font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
			}
			
.cus_menu2	{
				font-size: 11pt;
				font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
			}
			
/* 為替情報メニュー画面・為替情報コンテンツ画面 */
.ifmenu	{
				font-size: 12pt;
				color: #FFFFFF;
				cursor: pointer;
				font-weight: bold;
				font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
			}

.ifcontents{
				font-size: 11pt;
				color: #003399;
				cursor: pointer;
				font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
			}
			
a:hover.ifcontents	{
						text-decoration: underline;
						color: #CC3399;
						font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
					}
			
a:hover.ifmenu		{
						text-decoration:underline;
						font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
					}
				
a:hover.ifcontents	{
						text-decoration:underline;
						font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
					}
					
.quick_menu {
				font-size: 10pt;
				color: #FFFFFF;
				font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
			}
			
/* 電子的同意機能関連画面 */
.elect_title	{
					font-size: 11pt;
					font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
				}
				
.elect_date	{
					font-size: 11pt;
					font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
				}

.doc_link	{
				font-size: 11pt;
				text-decoration:underline;
				font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
			}
		
a:hover.doc_link	{
						text-decoration:underline;
						color: #CC3399;
						font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
					}
/* 不足額解消用画面 */
.lack_strongred	{
				font-size: 11pt;
				color: #FF0000;
				font-weight: bold;
				font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
			}
			
.lack_title1	{
				font-size: 11pt;
				color: #FFFFFF;
				font-weight: bold;
				font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
			}
			
.lack_title2 	{
				font-size: 11pt;
				color: #000000;
				font-weight: bold;
				font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
			}
		
.lack_record2 	{
				font-size: 11pt;
				color: #FF0000;
				font-weight: bold;
				font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
			}
			
.text4		{
				font-size: 13pt;
				font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
			}
			
.mfx_link1 	{
				font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
			}

a:hover.mfx_link1	{
						text-decoration:underline;
						font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
					}
					
/* スワップ一覧 */
.l2title	{
			    font-size: 14px;
			    line-height: 16px;
			}
			
.l2subtitle	{
			    font-size: 14px;
			    line-height: 16px;
			}
			
.l2subtitle2	{
				    font-size: 14px;
				    line-height: 16px;
				    color:#FFFFFF;
				}
				
.l2record	{
			    font-size: 14px;
			    line-height: 16px;
			}
			
.l2text	{
			    font-size: 14px;
			    line-height: 16px;
			}
			
.l2text2	{
			    font-size: 14px;
			    line-height: 16px;
			    color:#FF0000;
			}