/* 注文テンプレートHTML用のCSS */
.newOrderChkTitle {
	font-size:14px;
	font-weight:bold;
	font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
	margin-left:15px;
}

.order {
	font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
}

.order_template {
	background-color: #FFFFFF;
	display: none;
}

.label_point_img_size {
	height: 26px;
	width: 26px;
}

.order_title_line {
	font-size: 10pt;
	font-weight: bold;
	height: 26px;
	width: 100%;
	background-color: #333333;
	color: #FFFFFF;
}

.order_title_line_left {
	height: 26px;
	float: left;
}

.order_title_label {
	line-height: 26px;
	vertical-align:middle;
}

.order_lable_line {
	height: 28px;
	width: 100%;
	background-color: #FFFFFF;
	border-width:0 0 1px 0;
	border-color: #999999;
	border-style: solid;
}

.order_lable_line2 {
	height: 56px;
	width: 100%;
	background-color: #FFFFFF;
	border-width:0 0 1px 0;
	border-color: #999999;
	border-style: solid;
}

.order_lable {
	font-size: 10pt;
	width: 120px;
	height: 28px;
	line-height: 28px;
	vertical-align:middle;
	text-align: center;
	border-width:0 1px 0 0;
	border-color: #999999;
	border-style: solid;
	background-color: #EEEEEE;
	float: left;
}

.order_lable2 {
	font-size: 10pt;
	width: 120px;
	height: 56px;
	line-height: 56px;
	vertical-align:middle;
	text-align: center;
	border-width:0 1px 0 0;
	border-color: #999999;
	border-style: solid;
	background-color: #EEEEEE;
	float: left;
}

.set_order_lable {
	font-size: 10pt;
	width: 120px;
	height: 28px;
	line-height: 28px;
	vertical-align:middle;
	text-align: center;
	border-width:0 1px 0 0;
	border-color: #999999;
	border-style: solid;
	background-color: #EEEEEE;
	float: left;
}

.set_order_lable2 {
	font-size: 10pt;
	width: 120px;
	height: 56px;
	line-height: 56px;
	vertical-align:middle;
	text-align: center;
	border-width:0 1px 0 0;
	border-color: #999999;
	border-style: solid;
	background-color: #EEEEEE;
	float: left;
}

.set_confirm_order_lable {
	font-size: 10pt;
	width: 155px;
	height: 28px;
	line-height: 28px;
	vertical-align:middle;
	text-align: center;
	border-width:0 1px 0 0;
	border-color: #999999;
	border-style: solid;
	background-color: #EEEEEE;
	float: left;
}

.order_contents_area {
	height: 28px;
	width: 380px;
	color: #000000;
	font-size: 10pt;
	line-height: 28px;
	vertical-align:middle;
	float: left;
	margin-left: 20px;
}

.order_contents_area2 {
	height: 56px;
	width: 380px;
	color: #000000;
	font-size: 10pt;
	line-height: 56px;
	vertical-align:middle;
	float: left;
	margin-left: 20px;
}

.set_order_contents_area {
	height: 28px;
	width: 385px;
	color: #000000;
	font-size: 10pt;
	line-height: 28px;
	vertical-align:middle;
	float: left;
	margin-left: 20px;
}

.set_order_contents_area2 {
	height: 56px;
	width: 385px;
	color: #000000;
	font-size: 10pt;
	line-height: 56px;
	vertical-align:middle;
	float: left;
	margin-left: 20px;
}

.set_confirm_order_contents_area {
	height: 28px;
	width: 345px;
	color: #000000;
	font-size: 10pt;
	line-height: 28px;
	vertical-align:middle;
	float: left;
	margin-left: 20px;
}

.order_sub_contents {
	height:100%;
	float: left;
}

.order_help_box_area {
	height: 28px;
	text-align: center;
	float:left;
}

.help_box_size {
	height: 28px;
	width: 28px;
}

.order_help_box_area2 {
	height: 56px;
	text-align: center;
	float:left;
}

.set_order_info_area {
	width:100%;
	margin-top: 3px;
	margin-bottom:5px;
	border-width:0 0 0 0;
	border-color: #999999;
	border-style: solid;
	font-size: 10pt;
	text-align:center;
}

.set_order_info_title {
	height: 20px;
	line-height: 17px;
	vertical-align:middle;
	background-color: #006933;
	font-weight: bold;
	color: #FFFFFF;
}

.set_order_info_lable {
	height:20px;
	background-color: #EDFFD1;
	color; #000000;
	text-align: center;
	width: 100%;
}

.set_order_info_contents {
	height: 20px;
	background-color: #FFFFFF;
	color; #000000;
	text-align: right;
	width: 100%;
}

.set_order_info_contents_area {
	font-size: 10pt;
	color: #000000;
	font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
}

.order_input_text {
	height: 21px;
	text-align: right;
	margin-top: 3px;
	box-sizing: border-box;
}

.order_button_area {
	width: 100%;
	height: 80px;
}

.order_button_line {
	width: 100%;
	text-align: center;
}

.order_bid_price_area {
	background: url("../../material/renewal/order_bid_bk.gif") no-repeat;
	height: 75px;
	width: 134px;
	text-align:center;
}

.order_offer_price_area {
	background: url("../..//material/renewal/order_offer.gif") no-repeat;
	height: 75px;
	width: 134px;
	text-align:center;
}

.order_rate_sell {
	font-size: 24pt;
	color: #0000FF;
	font-weight: bold;
	font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
	margin-top: 20px;
	border: none;
	width: 134px;
	height: 35px;
	text-align: center;
	background-color: transparent;
}

.order_rate_buy {
	font-size: 24pt;
	color: #FF0066;
	font-weight: bold;
	font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
	margin-top: 20px;
	border: none;
	width: 134px;
	height: 35px;
	text-align: center;
	background-color: transparent;
}

.order_sell_buy_button {
	width: 134px;
	height: 27px;
	cursor: pointer;
}

.order_no_sell_buy_button {
	width:134px;
	height:27px;
	display:none;
}

.order_button_img{
	cursor: pointer;
}

.order_record{
	font-size: 10pt;
	font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
}