html {
	overflow-y: scroll;
}
.plus {
	color:#990000;
}

.minus {
	color:#000099;
}

.up {
	color:#990000;
	background: #FFB6C1 !important;
}

.down {
	color:#000099;
	background: #87CEFA !important;
}

.hidden {
	display: none;
}

.invisible {
	visibility: hidden;
}

.imgPrimeChart {
	cursor: pointer;
}

/*
 * レート簡易
 */
.tableRateSimple {
	float: left;
	width: 191px;
	font-family: Arial,'Meiryo UI','ＭＳ Pゴシック',sans-serif;
	margin: 0 3px 3px 0;
	border-collapse:collapse;
	border:none;
}

.tableRateSimple .tr1 {
	background: linear-gradient(#066DA5, #00397E);
	font-size: 10pt;
	color: #FFFFFF;
}

.tableRateSimple .tr1 div {
	height: 19px;
	display:flex;
	justify-content: space-between;
}

.tableRateSimple .tr2 {
	height: 15px;
	font-size: 8pt;
	background: #C0C0C0;
}

.tableRateSimple .tr2 div {
	text-align:center;
}

.tableRateSimple .tr2 div > * {
	margin-left: 6px;
}

.tableRateSimple .tr2 td {
	border-bottom-style: solid;
	border-width:1px;
	border-color:#ffffff;
}

.tableRateSimple .tr3 {
	text-align:center;
	font-size:9pt;
}

.tableRateSimple .tr3 .spread {
	width:44px;
}

.tableRateSimple .tr4 td {
	padding:0;
	height:1px;
	background: url(../../material/renewal/trading/rate/dotted_line.gif) repeat-x;
}

.tableRateSimple .tr5 {
	font-weight:bold;
	text-align:center;
	font-size:14pt;
}

.tableRateSimple .tr5 td {
	height: 36px;
}

.tableRateSimple .tr5 td:not(:last-of-type) {
	border-right-style: solid;
	border-width:1px;
	border-color:#ffffff;
}

.tableRateSimple .value,
.tableRateSimple .label {
	background: linear-gradient(90deg, #F6F6F6, #DDDDDD);
	cursor:pointer;
}

.tableRateSimple .label.bid::before {
	content: "";
	display-inline:block;
	float:left;
	margin-left: 5px;
	margin-right: -23px;
	height: 13px;
	margin-top: 2px;
}

.tableRateSimple .up.label.bid::before {
	content: url(../../material/renewal/trading/rate/rate_up_simple.png);
}

.tableRateSimple .down.label.bid::before {
	content: url(../../material/renewal/trading/rate/rate_down_simple.png);
}

.tableRateSimple .label.offer::after {
	content: "";
	display-inline:block;
	float:right;
	margin-left: -23px;
	margin-right: 5px;
	height: 13px;
	margin-top: 2px;
}

.tableRateSimple .up.label.offer::after {
	content: url(../../material/renewal/trading/rate/rate_up_simple.png);
}

.tableRateSimple .down.label.offer::after {
	content: url(../../material/renewal/trading/rate/rate_down_simple.png);
}

.tableRateSimple .label.bid {
	width:74px;
}
.tableRateSimple .label.offer {
	width:75px;
}

.tableRateSimple .imgPrimeChart {
	margin-left:17px;
}

/*
 * レート詳細
 */
.tableRateDetail {
	font-family: Arial,'Meiryo UI','ＭＳ Pゴシック',sans-serif;
	font-size: 10pt;
	table-layout: fixed;
	border-spacing:1px;
}

.tableRateDetail thead tr {
	color:#FFFFFF;
	text-align: center;
	background: url(../../material/renewal/rate_label.png);
	height:24px;
}

.tableRateDetail tbody tr {
	font-size: 16px;
	text-align: right;
	height:29px;
}

.tableRateDetail tbody tr:nth-child(odd) {
	background: #eeeeee;
}

.tableRateDetail tbody tr:nth-child(even) {
	background: #f7f7f7;
}

.tableRateDetail tbody tr td {
	padding:0 5px;
}

.tableRateDetail .imgOneClick {
	margin-right: 5px;
}

.tableRateDetail .bid,
.tableRateDetail .offer {
	cursor:pointer;
	font-weight:bold;
}

.tableRateDetail .bid .contents,
.tableRateDetail .offer .contents {
	display:flex;
	align-items: baseline;
}

.tableRateDetail .bid .contents::before,
.tableRateDetail .offer .contents::before{
	content:"";
	display:inline-block;
	width:16px;
	margin-right:auto;
}

.tableRateDetail .bid.up .contents::before,
.tableRateDetail .offer.up .contents::before{
	content: url(../../material/renewal/trading/rate/rate_up_detail.png);
}

.tableRateDetail .bid.down .contents::before,
.tableRateDetail .offer.down .contents::before{
	content: url(../../material/renewal/trading/rate/rate_down_detail.png);
}