/* トップフレーム用のCSS */

.item{
	font-size:12px;
	color: #FFFFFF;
	font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
	width:100%;
	display:flex;
	align-items: center;
}

.record{
	font-size: 10pt;
	font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
}

html{
	width:100%;
	height:100%;
}

body{
	height:100%;
	font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
	overflow-y: hidden;
	overflow-x: hidden;
	margin:0;

}
* html div#container{
	height:100%;
}

body #container{
	height:100%;
	overflow-x: hidden;
	overflow-y: hidden;
}

div #main{
	height:100%;
}

div #outer_head{
  position:relative;
	top:0;
	left:0;
	width:100%;
}

div #outer_body{
	position:relative;
	min-width:996px;
	margin-top:2px;
	text-align:center;
}

div #outer_body_inner{
	position:relative;
	width:996px;
	height:100%;
	margin-left:auto;
	margin-right:auto;
}

div #head{
	position:relative;
}

div #corp-top {
	//height:95px;
}

div #head_menu_area{
	min-width:986px;
	//height:0px;//95;//32px;
	text-align:center;
}

div #head_sub_menu_area{
	min-width:996px;
	height:30px;
	text-align:center;
}

div #menu_area{
	position:relative;
	width:986px;
  //height:95;//32px;
	margin-left:auto;
	margin-right:auto;
  padding:0;
}

div #sub_menu_area{
  position: relative;
	width:996px;
  height:30px;
	margin-left:auto;
	margin-right:auto;
  padding:0;
}

div #etc{
	width:100%;
	height:100%;
	background:#99FFCC;
}

div #rate{
	width:100%;
}

div #rate_title{
	width:100%;
	height:28px;
	overflow:hidden;
}

div #outer_foot{
	position:relative;
	width:100%;
	top: calc(100% - 98px);
	text-align:center;
	height:26px;
}

div #outer_foot_inner{
	position:relative;
	width:996px;
	height:26px;
	margin-left:auto;
	margin-right:auto;
}

div #foot{
	height:24px;
	width:100%;
	left:0;
  bottom:5px;
	line-height:22px;
	vertical-align:middle;
}

div #rate_setting_layer{
	text-align:left;
}

div #frame_01{
  width:100%;
  height:180px;
  margin-top:2px;
  overflow-y:auto;
  overflow-x:auto;
}

div #frame_02{
	width:994px;
	height:100%;
}
div #information_layer{
	position:absolute;
	top:0;
	left:0;
	right: 0;
	bottom: 0;
}
div#new_order_layer,
div#set_order_layer,
div#set_blanket_order_layer,
div#leverage_layer {
	position:absolute;
	top:0;
	left:0;
}

#logo2{
	background-image: url("../../material/fxprime.gif");
	position:absolute;
	top:5px;
	right:10px;
	width:164px;
	height:31px;
}

div #logout{
	background-image: url("../../material/fx_logout.gif");
	cursor: pointer;
	position:absolute;
	top:14px;
	right:200px;
	width:90px;
	height:22px;
}

#main #head #menu{
	position:absolute;
	top:40px;
}

.title9	{
	font-size: 12pt;
	color: #182E83;
	font-weight: bold;
	font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
}

.link9{
	font-size: 10pt;
	color: #182E83;
	text-decoration:underline;
	font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;

}

a:hover.link9{
	font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
}

.link10{
	font-size: 10pt;
	color: #FFFFFF;
	font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
}

a:hover.link10{
  background-color: #fff;
  color: #000;
}

a.link10.current{
  background-color: #fff;
  color: #000;
}

div #trading_sub_menu{
  height:30px;
  box-sizing:border-box;
}

div #trading_sub_menu > div.submenu {
	padding: 3px;
	position: relative;
}

div #trading_sub_menu > div.submenu > a{
	border-radius: 3px;
	text-decoration: none;
	padding:4px 10px;
	margin:0 2px;
}

div #trading_sub_menu > div.submenu:before{
	background-color: #4071cd;
	content: "";
	display: block;
	height: 1.3em;
	position: absolute;
	left: 0;
	top: 0.3em;
	width: 1px;
}

div #trading_sub_menu > div.submenu:first-of-typebefore{
	left: -2px;
}

div #trading_sub_menu > div.submenu:last-of-type:after {
	background-color: #4071cd;
	content: "";
	display: block;
	height: 1.2em;
	position: absolute;
	right: 0;
	top: 0.3em;
	width: 1px;
}

div #inquirySubMenu{
  position:absolute;
  top:21px;
  left:-5px;
  width:120px;
  height:128px;
  display:none;
  z-index:1;
}

div #inquirySubMenu > div {
	background-color:#414141;
	height:122px;
}

div #inquirySubMenu > div > div  {
  position:relative;
  width:100px;
  height:23px;
  padding: 0px 10px;
  top:3px;
}
div #inquirySubMenu> div > div > a{
  border-radius: 3px;
  padding: 2px 1px 1px;
  text-decoration: none;
  height:21px;
  display: block;
  width:98px;
  position:absolute;
  top:0px;
}

.menutab_link{
	cursor: pointer;
	width:127px;
	text-align:center;
}

.submenutab_square{
	cursor: pointer;
	padding:5px;
}

.submenutab_link{
	color:#FFFFFF;
	text-decoration:underline;
	font-family: 'Meiryo UI',Arial,'ＭＳ Pゴシック',sans-serif;
	cursor: pointer;
	font-size: 12px;
}

.submenutab_separator{
	width:1px;
	height:100%;
	background-color:#FFFFFF;
}


.rateViewSetting {
	width:120px;
	height:440px;
	font-size:14px;
	border: 2px #999999 solid;
	color: #FFFFFF;
}

.img_hs_order_sub_menu {
	width:174px;
	height:24px;
	cursor:pointer;
	position:absolute;
	top:3px;
	left:822px;
}

.tab_menu {
	height:32px;
	line-height:32px;
	cursor:pointer;
	font-size:11pt;
	font-weight: bold;
	color: #FFFFFF;
}

.tab_menu1 {
	border-radius: 4px 0 0 0;
	width: 119px;
}

.tab_menu2 {
	border-radius: 0 4px 0 0;
	width: 172px;
}

.tab_menu.active {
	background: #0B90B8;
	opacity: 1.0;
}

.tab_menu:hover:not(.active) {
	background: #0B90B8;
	opacity: 0.5;
	color: #FFFFFF;
}

.tab_menu:not(.active) {
	background: #D6D6D6;
	color: #656565;
}

.btn_logout {
	display:inline-block;
	width:85px;
	height:28px;
	cursor:pointer;
	background: url("../../material/renewal/fx_logout.gif");
}

.btn_logout:hover {
	background: url("../../material/renewal/fx_logout_o.gif");
}

.btn_market_info {
	display:inline-block;
	width:107px;
	height:28px;
	cursor:pointer;
	background: url("../../material/renewal/market2.png");
}

.btn_market_info:hover {
	background: url("../../material/renewal/market2_o.png");
}

.lbl_rate_header_item {
	margin-left:14px;
	display:flex;
	align-items:center;
}

.lbl_rate_header_item .contents {
	height:20px;
	font-size:11pt;
	text-align: right;
	background: #FFFFFF;
	border-radius: 5px;
	color: #000000;
	padding:0 5px;
	margin-left:2px;
	font-weight:bold;
	display:inline;
	align-items:center;
	line-height:20px;
}

#lbl_maintenance_rate {
	display:inline-block;
	min-width: 122px;
}

#lbl_maintenance_rate.caution {
	color: #FE4848;
}

#lbl_today_descision_profit {
	display:inline-block;
	min-width: 132px;
}

#lbl_today_descision_profit.minus {
	color: #FE4848;
}

#lbl_today_descision_profit_unit {
	display:inline-block;
}

#lbl_unrealized_profit_loss {
	display:inline-block;
	min-width: 132px;
}

#lbl_unrealized_profit_loss.minus {
	color: #FE4848;
}

#lbl_unrealized_profit_loss_unit {
	display:inline-block;
}

#change_view_img {
	margin-left: auto;
}

.btnUpdate {
	width:55px;
	height:23px;
	cursor:pointer;
	border-radius:5px;
	display:flex;
	align-items:center;
	justify-content:center;
}

.btnUpdate:hover {
	background: #FFFFFF;
}

.btnUpdate > span {
	display:inline-block;
	width:18px;
	height:18px;

	background: url("../../material/renewal/update.png");
}

.btnUpdate:hover > span {
	background: url("../../material/renewal/update_o.png");
}