@charset "utf-8";

/* BASE ======================================= */

#global_navigation_header {
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #000;
  /*font: 87.5%/1.6 Meiryo, Verdana, Arial, 'ＭＳ Ｐゴシック', sans-serif;*/
  font-size: medium;
  text-align: left;
  color: #000;
}

#global_navigation_header p,
#global_navigation_header a,
#global_navigation_header li,
#global_navigation_header b  {
  font-family: Meiryo, Verdana, Arial, 'ＭＳ Ｐゴシック', sans-serif;
}

#global_navigation_header .str-container {
	font-size: 87.5%;
	line-height: 1.6;
}

#global_navigation_header * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* clearfix */

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

/* clear */

.clear {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0.1px;
  font-size: 0.1em;
  line-height: 0;
}

* html .clear {
  display: inline-block;
}

/* for IE img */

.DisplayBlock {
  display: block;
}

/* HTML ======================================= */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dt,
dd,
blockquote {
  margin: 0;
  padding: 0;
}

ul li,
ol li {
  list-style-type: none;
}

#global_navigation_header img,
#global_navigation_header a img {
  border: none;
  /*margin: 0;*/
}

#global_navigation_header img {
  vertical-align: bottom;
}

/*
p {
  margin-top: 10px;
}
*/

/* LINK ======================================= */
#global_navigation_header .header-list-utility a:link {
  color: #001b4b;
  text-decoration: underline;
}

#global_navigation_header .header-list-utility a:visited {
  color: #667693;
}

#global_navigation_header .header-list-utility a:hover,
#global_navigation_header .header-list-utility a:active {
  color: #e40000;
  text-decoration: none;
}

/* FLOAT ======================================= */

.float-left {
  float: left;
}

.float-right {
  float: right;
}

/* COMMON ======================================= */

.marginT03 {
  margin-top: 3px;
}

.marginT05 {
  margin-top: 5px;
}

.marginT08 {
  margin-top: 8px;
}

.marginT10 {
  margin-top: 10px;
}

.marginT12 {
  margin-top: 12px;
}

.marginT15 {
  margin-top: 15px;
}

.marginT20 {
  margin-top: 20px;
}

.marginT25 {
  margin-top: 25px;
}

.marginT30 {
  margin-top: 30px;
}

.marginT35 {
  margin-top: 35px;
}

.marginT40 {
  margin-top: 40px;
}

.marginT45 {
  margin-top: 45px;
}

.marginT50 {
  margin-top: 50px;
}

.bold {
  font-weight: bold;
}