@charset "utf-8";

/* 見出し
======================================= */

/* 大見出し */

.comp-subject {
  clear: both;
  margin: 2em 0 0 0;
  background: url(/common/images/subject_bg.gif) no-repeat left top;
  border-bottom: 1px solid #cccccc;
  line-height: 1.3;
}

.comp-subject_kabu {
  clear: both;
  margin: 0 0 0 0;
  background: url(/common/images/subject_bg.gif) no-repeat left top;
  border-bottom: 1px solid #cccccc;
  line-height: 1.3;
}

.comp-subject_kabu span {
  display: block;
  padding: 12px 0 8px 32px;
}

.comp-subject span {
  display: block;
  padding: 12px 0 8px 32px;
}

*:first-child+html .comp-subject span {
  font-size: 85%;
}

/* 中見出し */

.comp-lead {
  clear: both;
  margin: 1.8em 0 0 0;
  border-top: 2px solid #7fa0cc;
  background-color: #f4f8fc;
  line-height: 1.3;
}

.comp-lead span {
  display: block;
  padding: 9px 0 9px 12px;
  border-bottom: 1px solid #c5ced9;
}

*:first-child+html .comp-lead span {
  font-size: 85%;
}

/* 小見出し */

.comp-text-head {
  clear: both;
  margin: 1.6em 0 0 0;
  border-bottom: 1px solid #7fa0cc;
  line-height: 1.3;
  background-color: #f4f8fc;
  padding: 5px;
}

.comp-text-head span {
  display: block;
  padding: 0 0 0.2em 0;
  font-size: 130%;
}

*:first-child+html .comp-text-head span {
  font-size: 85%;
}

/* 第二階層見出し */

.comp-second-subject {
  clear: both;
  margin: 1em 0 0 0;
  width: 751px;
  height: 43px;
  background: url(/common/images/second_subject_bg.gif) no-repeat left top;
  line-height: 1.3;
}

.comp-second-subject span {
  display: block;
  padding: 11px 0 0 20px;
  color: #ffffff;
}

/* 領域
======================================= */

/* 大見出しのコンテンツ領域 */

div.subject-container {
  clear: both;
  margin: 1em 0 0 0;
  padding: 0 0 0 14px;
}

/* 中見出しのコンテンツ領域 */

div.lead-container {
  clear: both;
  margin: 1em 0 0 0;
  padding: 0 0 0 12px;
}

/* テキスト
======================================= */

/* テキスト単体 */

p.comp-text {
  clear: both;
  margin: 1em 0 0 0;
}

/* カラー */

span.white {
  display: inline;
  color: #ffffff;
}

span.red {
  display: inline;
  color: #eb2011;
}

span.orange {
  display: inline;
  color: #d98000;
}

span.green {
  display: inline;
  color: #9ea82d;
}

span.blue {
  display: inline;
  color: #5ca8c1;
}

/* マーカー表示 */

span.marker-red {
  background-color: #ffecec;
}

span.marker-blue {
  background-color: #ebf7f7;
}

/* 下線 */

span.under-red {
  border-bottom: 1px solid #eb2011;
}

u.black {
  text-decoration: none;
  border-bottom: 1px solid #282828;
}

/* 位置 */

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

/* リスト
======================================= */

/* リスト */

ul.comp-list {
  clear: both;
  margin: 1em 0 0 0;
  line-height: 1.1;
}

ul.comp-list li {
  margin: 5px 0 0 17px;
  list-style: disc;
  line-height: 1.5;
}

ul.comp-list li.first-child {
  margin: 0 0 0 17px;
}

/* 番号リスト */

ul.comp-list-number {
  clear: both;
  margin: 1em 0 0 0;
  line-height: 1.1;
}

ul.comp-list-number li {
  margin: 5px 0 0 21px;
  list-style: decimal;
  line-height: 1.5;
}

ul.comp-list-number li.first-child {
  margin: 0 0 0 21px;
}

/* リンクリスト */

ul.comp-list-link {
  clear: both;
  margin: 1em 0 0 0;
  line-height: 1.1;
}

ul.comp-list-link li {
  margin: 5px 0 0 0;
  line-height: 1.5;
  list-style: none;
}

ul.comp-list-link li.first-child {
  margin: 0;
}

ul.comp-list-link li a {
  padding: 0 0 0 18px;
  background: url(/common/images/link_icon_m_navy.gif) no-repeat;
  background-position: 1px 2px;
}

*:first-child+html ul.comp-list-link li a {
  background-position: 1px 1px;
}

ul.comp-list-link li a.pdf {
  background: url(/common/images/icon_pdf.gif) no-repeat;
  background-position: 0px 1px;
}

/* 注釈リスト */

ul.comp-list-caption {
  clear: both;
  margin: 1em 0 0 0;
  line-height: 1.1;
}

ul.comp-list-caption li {
  margin: 5px 0 0 0;
  padding: 0 0 0 1em;
  text-indent: -1em;
  line-height: 1.5;
  list-style: none;
}

ul.comp-list-caption li.first-child {
  margin: 0;
}

/* リストの拡張 第二階層まで */

ul.comp-list li ul.comp-list-number li {
  list-style: decimal;
}

ul.comp-list li ul.comp-list-caption li {
  list-style: none;
}

ul.comp-list-number li ul.comp-list li {
  list-style: disc;
}

ul.comp-list-number li ul.comp-list-caption li {
  list-style: none;
}

ul.comp-list-caption li ul.comp-list li {
  list-style: disc;
}

ul.comp-list-caption li ul.comp-list-number li {
  list-style: decimal;
}

/* リストの拡張 第三階層まで */

ul.comp-list li ul.comp-list-number li ul.comp-list {
  list-style: disc;
}

ul.comp-list li ul.comp-list-number li ul.comp-list-caption {
  list-style: none;
}

ul.comp-list li ul.comp-list-caption li ul.comp-list {
  list-style: disc;
}

ul.comp-list li ul.comp-list-caption li ul.comp-list-number li {
  list-style: decimal;
}

ul.comp-list-number li ul.comp-list li ul.comp-list-caption {
  list-style: none;
}

ul.comp-list-number li ul.comp-list li ul.comp-list-number li {
  list-style: decimal;
}

ul.comp-list-number li ul.comp-list-caption li ul.comp-list {
  list-style: disc;
}

ul.comp-list-number li ul.comp-list-caption li ul.comp-list-number li {
  list-style: decimal;
}

ul.comp-list-caption li ul.comp-list li ul.comp-list-caption {
  list-style: none;
}

ul.comp-list-caption li ul.comp-list li ul.comp-list-number li {
  list-style: decimal;
}

ul.comp-list-caption li ul.comp-list-number li ul.comp-list {
  list-style: disc;
}

ul.comp-list-caption li ul.comp-list-number li ul.comp-list-caption {
  list-style: none;
}

/* 項目、内容のリスト（縦並び） */

dl.comp-list {
  clear: both;
  margin: 1em 0 0 0;
  line-height: 1.5;
}

/* 項目、内容のリスト(横並び) */

div.comp-list-twin {
  clear: both;
  margin: 1em 0 0 0;
}

div.comp-list-twin dl {
  clear: both;
  margin: 0;
  line-height: 1.5;
  background: url(/common/images/border_dot_lightgrey.gif) repeat-x bottom left;
}

div.comp-list-twin dl.first-child {
  margin: 0;
}

div.comp-list-twin dt {
  width: 20%;
  float: left;
  padding: 0.3em 0 0.3em 0;
}

div.comp-list-twin dd {
  width: 80%;
  float: left;
  padding: 0.3em 0 0.3em 0;
}

/* カラー */

ul.grey {
  color: #757575;
}

/* 画像
======================================= */

/* 画像のみ */

p.comp-image {
  clear: both;
  margin: 1em 0 0 0;
}

/* 画像（左）+テキスト回込み */

div.comp-float-text-L {
  clear: both;
  margin: 1em 0 0 0;
}

div.comp-float-text-L p.image {
  float: left;
  padding: 0 10px 10px 0;
}

div.comp-float-text-L dl.image {
  float: left;
  padding: 0 10px 10px 0;
}

div.comp-float-text-L dd {
  padding: 0.3em 0.5em 0.4em 0.5em;
  background-color: #eeeeee;
  border-bottom: 1px solid #cccccc;
  line-height: 1.3;
}

/* 画像（右）+テキスト回込み */

div.comp-float-text-R {
  clear: both;
  margin: 1em 0 0 0;
}

div.comp-float-text-R p.image {
  float: right;
  padding: 0 0 10px 10px;
}

div.comp-float-text-R dl.image {
  float: right;
  padding: 0 0 10px 10px;
}

div.comp-float-text-R dd {
  padding: 0.3em 0.5em 0.4em 0.5em;
  background-color: #eeeeee;
  border-bottom: 1px solid #cccccc;
  line-height: 1.3;
}

/* テーブル
======================================= */

/* テーブルコンテナ */

div.table-container {
  clear: both;
  margin: 1em 0 0 0;
  background-color: #c3c3c3;
}

/* 縦テーブル */

table.comp-table-row {
  width: 100%;
  line-height: 1.4;
}

table.comp-table-row th {
  padding: 4px 5px 5px 5px;
  background-color: #f4f8fc;
  font-weight: normal;
}

table.comp-table-row td {
  padding: 4px 5px 5px 5px;
  background-color: #ffffff;
  text-align: center;
}

table.comp-table-row thead th {
  background-color: #7fa0cc;
}

table.comp-table-row thead td {
  background-color: #dddddd;
}

/* 横テーブル */

table.comp-table-col {
  width: 100%;
  line-height: 1.4;
}

table.comp-table-col th {
  padding: 4px 5px 5px 5px;
  background-color: #f4f8fc;
  font-weight: normal;
}

table.comp-table-col td {
  padding: 4px 5px 5px 5px;
  background-color: #ffffff;
  text-align: center;
}

/* セルのカラーリング */

/* Green */

div.table-container .light-green,
div.table-container .light-green td {
  background-color: #f5f9c6;
}

div.table-container .green {
  background-color: #a9b338;
  color: #ffffff;
}

/* Red */

div.table-container .light-red,
div.table-container .light-red td {
  background-color: #FFDFDF;
}

div.table-container th.red,
div.table-container td.red {
  background-color: #FF7373;
  color: #ffffff;
}

/* Orange */

div.table-container .light-orange,
div.table-container .light-orange td {
  background-color: #fbebc4;
}

div.table-container .orange {
  background-color: #dea51b;
  color: #ffffff;
}

/* Blue */

div.table-container .light-blue,
div.table-container .light-blue td {
  background-color: #ebf7f7;
}

div.table-container th.blue,
div.table-container td.blue {
  background-color: #5ca8c1;
  color: #ffffff;
}

/* Grey */

div.table-container .light-grey,
div.table-container .light-grey td {
  background-color: #e5e5e5;
}

div.table-container .dark-grey {
  background-color: #757575;
  color: #ffffff;
}

div.table-container .grey {
  background-color: #9a9a9a;
  color: #ffffff;
}

/* White */

div.table-container .white {
  background-color: #ffffff;
}

/* テキスト位置 */

table.text-left tr td {
  text-align: left;
}

table.text-center tr td {
  text-align: center;
}

table.text-right tr td {
  text-align: right;
}

tr.text-left td {
  text-align: left;
}

tr.text-center td {
  text-align: center;
}

tr.text-right td {
  text-align: right;
}

/* ボックス
======================================= */

/* 補足説明ボックス */

div.comp-block-caption {
  clear: both;
  margin: 1em 0 0 0;
  padding: 9px;
  border: 1px solid #d4d4d4;
}

div.comp-block-caption p {
  margin: 1em 0 0 0;
}

div.comp-block-caption p.first-child {
  margin: 0;
}

/* 注意事項ボックス */

div.comp-block-caution {
  clear: both;
  margin: 1em 0 0 0;
  padding: 9px;
  background-color: #ffecec;
  border: 1px solid #f4caca;
}

div.comp-block-caution p {
  margin: 1em 0 0 0;
}

div.comp-block-caution p.first-child {
  margin: 0;
}

/* 角丸ボックス（大見出し領域内） */

div.comp-block-round {
  clear: both;
  margin: 1em 0 0 0;
  background: url(/common/images/round_box_l_bg.gif) repeat-y top left;
}

div.comp-block-round div.block-outer {
  background: url(/common/images/round_box_l_top.gif) no-repeat top left;
}

div.comp-block-round div.block-container {
  padding: 9px;
  background: url(/common/images/round_box_l_bottom.gif) no-repeat bottom left;
}

/* 角丸ボックス（中見出し領域内） */

div.lead-container div.comp-block-round {
  background: url(/common/images/round_box_m_bg.gif) repeat-y top left;
}

div.lead-container div.comp-block-round div.block-outer {
  background: url(/common/images/round_box_m_top.gif) no-repeat top left;
}

div.lead-container div.comp-block-round div.block-container {
  background: url(/common/images/round_box_m_bottom.gif) no-repeat bottom left;
}

div.comp-block-round p {
  margin: 1em 0 0 0;
}

div.comp-block-round p.first-child {
  margin: 0;
}

/* ページの先頭へ戻る */

div.comp-pagetop {
  clear: both;
  margin: 2em 0 0 0;
  padding: 0.5em 0;
  background: url(/common/images/line/border_dot_lightgrey.gif) repeat-x top;
  line-height: 1.1;
  text-align: right;
}

div.comp-pagetop a {
  padding: 0 0 0 17px;
  background: url(/common/images/link_icon_m_navy_top.gif) no-repeat;
  background-position: 0px 3px;
}

/* カラム
======================================= */

/* 2カラムボックス */

div.comp-block-2column {
  clear: both;
  margin: 1em 0 0 0;
}

div.comp-block-2column div.left-column {
  float: left;
}

div.comp-block-2column div.right-column {
  float: left;
}

/* 3カラムボックス */

div.comp-block-3column {
  clear: both;
  margin: 1em 0 0 0;
}

div.comp-block-3column div.left-column {
  float: left;
}

div.comp-block-3column div.center-column {
  float: left;
}

div.comp-block-3column div.right-column {
  float: left;
}

/* フォームタグの基本設定
======================================= */

form {
  display: block;
  margin: 0;
  padding: 0;
}

input.input-text {
  margin: 0;
  padding: 4px;
  background-color: #181818;
  border: 1px solid #13292c;
  font-size: 10px;
  line-height: 18px;
  color: #cccccc;
}

/* ファイルアップロードフィールド */

input.input-file {
  width: 500px;
  margin: 0;
  padding: 4px;
  font-size: 10px;
  line-height: 18px;
}

/* 入力不可テキストフィールド */

input.input-readonly {
  margin: 0;
  padding: 4px;
  background-color: #181818;
  border: 1px solid #13292c;
  font-size: 10px;
  line-height: 18px;
  color: #999999;
}

/* パスワードチェック内容 */

span.input-pass-check {
  font-size: 10px;
  padding-left: 6px;
  color: #e42a28;
}

input.input-button {
  padding: 1px 7px;
}

#global_navigation_header select {
  background-color: #181818;
  border: 1px solid #13292c;
  padding: 2px;
  color: #cccccc;
  font-size: 10px;
}

select option {
  padding: 2px;
  margin: 0 5px 0 0;
}

textarea {
  margin: 0;
  padding: 4px;
  background-color: #181818;
  border: 1px solid #13292c;
  font-size: 10px;
  line-height: 18px;
  color: #999999;
}