.toggle .toggle-hdg {
  background: url(/common/images/icon/icon-toggle-plus.png) 10px 50% no-repeat #b7cbef;
}

.toggle .toggle-hdg > button {
  color: #b7cbef;
}

.toggle .toggle-hdg > button:before {
  display: none;
}

.toggle.opened .toggle-hdg {
  background-image: url(/common/images/icon/icon-toggle-minus.png);
}