@charset "UTF-8";

#global_navigation_header * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.str-header .switch-style .style-medium a {
	font-weight: bold;
	text-decoration: none !important;
	color: #000 !important;
}

.str-header .switch-style .style-small a,
.str-header .switch-style .style-large a {
	color: #adb9ce !important;
	text-decoration: underline !important;
	cursor: text;
	
}

.str-inner:before,
.str-header .header-list-utility:before,
.str-market .nav-global:before,
.str-market .nav-global-02:before,
.str-corp .nav-global:before,
.footer-list-bnr:before,
.list-icon:before,
.list-sns:before,
.list-strategy-01:before,
.tab-list-container:before,
.nav-pagination:before,
.image-left:before,
.image-right:before,
.col-2:before,
.col-3:before,
.col-4:before,
.col-5:before,
.carousel-list:before,
.carousel-nav-01:before,
.top-panel-feature .top-list-feature-01:before,
.top-panel-feature .top-list-feature-02:before,
.top-col-2.top-info:before,
.list-news-02 li:before,
.str-inner:after,
.str-header .header-list-utility:after,
.str-market .nav-global:after,
.str-market .nav-global-02:after,
.str-corp .nav-global:after,
.footer-list-bnr:after,
.list-icon:after,
.list-sns:after,
.list-strategy-01:after,
.tab-list-container:after,
.nav-pagination:after,
.image-left:after,
.image-right:after,
.col-2:after,
.col-3:after,
.col-4:after,
.col-5:after,
.carousel-list:after,
.carousel-nav-01:after,
.top-panel-feature .top-list-feature-01:after,
.top-panel-feature .top-list-feature-02:after,
.top-col-2.top-info:after,
.list-news-02 li:after {
  display: table;
  content: "";
}

.str-inner:after,
.str-header .header-list-utility:after,
.str-market .nav-global:after,
.str-market .nav-global-02:after,
.str-corp .nav-global:after,
.footer-list-bnr:after,
.list-icon:after,
.list-sns:after,
.list-strategy-01:after,
.tab-list-container:after,
.nav-pagination:after,
.image-left:after,
.image-right:after,
.col-2:after,
.col-3:after,
.col-4:after,
.col-5:after,
.carousel-list:after,
.carousel-nav-01:after,
.top-panel-feature .top-list-feature-01:after,
.top-panel-feature .top-list-feature-02:after,
.top-col-2.top-info:after,
.list-news-02 li:after {
  clear: both;
}

.str-header .header-list-utility.branch > li .btn-logout:before,
.str-header .utility-link:before,
.header-search.branch .header-cvn .btn-03.btn-transfer:before,
.header-search.branch .header-cvn .btn-03.btn-market:before,
.str-market .nav-sub a:before,
.str-corp .nav-global > li:first-child > a:before,
.str-corp .nav-global > li > a:after,
.nav-local a:before,
.list-date-report > li > a:before,
.list-date-report > li > span:before,
.footer-links .hdg:before,
.hdg-l3 a:before,
.hdg-l4 a:before,
.hdg-l5 a:before,
.hdg-l1 .lead-container .btn:before,
.hdg-l1 .lead-container .btn-02:before,
.hdg-l1 .lead-container .btn-03:before,
.hdg-l1 .lead-container .btn-04:before,
.hdg-l1 .lead-container .btn-05:before,
.hdg-l1 .lead-container .btn-hs:before,
.hdg-l2 a:after,
.hdg-l3.exchange a:before,
.hdg-l3.system a:before,
.hdg-l3.mirror a:before,
.list > li:before,
.list-seminar-01 dt span:before,
.list-strategy-01 p.name a:before,
.notice-panel .hdg:before,
.link-list > li > a:before,
.link-list-02 > li:before,
.link-close a:before,
.link-detail a:before,
.btn:before,
.btn-02:before,
.btn-03:before,
.btn-04:before,
.btn-05:before,
.btn-hs:before,
.nav-anchor a:before,
.nav-anchor.market a span:before,
.nav-pagination .prev:before,
.nav-pagination .next:before,
.nav-top a:before,
.nav-anchor-tool > a:before,
.panel-cvn b:after,
.toggle .toggle-hdg > button:before,
.panel-faq-02 > .content > .question:before,
.panel-faq-02 > .content > .answer:before,
.panel-seminar .panel > .hdg:before,
.list-info a:before {
  background-image: url(https://trade-test.fxprime.com/mypage/jsp/control/global_navigation_header/common/images/icon-sprite.png);
}

.str-lb-container {
  padding: 15px 0;
  width: 850px;
  margin: 0 auto;
}

.str-lb-container .str-inner {
  padding: 0 50px;
  width: auto;
}

.str-lyt1-container {
  margin: 0 auto;
  padding: 20px 0;
  width: 851px;
}

.str-lyt1-container .str-lyt1-header {
  margin-bottom: 20px;
}

.str-lyt1-container .str-lyt1-header .tagline {
  margin: 0 0 2px;
  line-height: 1.2;
  font-size: 85.71%;
  color: #456b9f;
}

.str-lyt1-container .str-inner {
  padding: 0 50px;
  width: auto;
}

.str-inner {
  margin: 0 auto;
  width: 986px;
}

.str-header {
  min-width: 986px;
  border-top: 2px solid #13449d;
}

.str-header .tagline {
  margin: 0 0 2px;
  line-height: 1.2;
  font-size: 85.71%;
  color: #456b9f;
}

.str-header .logo {
  float: left;
  margin: 5px 0;
}

.str-header .logo img {
  margin: 0 10px 0 0;
}

.str-header .header-list-utility {
  margin: 4px 0 0;
  font-size: 78.57%;
  float: right;
}

.str-header .header-list-utility > li {
  display: inline-block;
  margin: 0 0 0 5px;
}

.str-header .header-list-utility.branch {
  /*font-size: fs(11);*/
}

.str-header .header-list-utility.branch > li .btn-logout {
  padding: 2px 7px 1px 20px !important;
}

.str-header .header-list-utility.branch > li .btn-logout:before {
  background-position: -151px 0px;
  width: 10px;
  height: 7px;
}

.str-header .switch-style {
  margin: 0 5px;
  display: inline-block;
}

.str-header .switch-style > li {
  display: inline-block;
  padding-left: 5px;
  border-left: 1px solid #adb9ce;
}

.str-header .switch-style > li:first-child {
  border: none;
}

.str-header .utility-link {
  position: relative;
}

.str-header .utility-link:before {
  background-position: -38px 0px;
  width: 4px;
  height: 5px;
  content: "";
  display: inline-block;
  margin: -1px 4px 0 0;
  vertical-align: middle;
}

.header-utility-02 {
  float: right;
  list-style: none;
  font-size: 85.71%;
}

.header-utility-02 > li {
  display: inline-block;
  vertical-align: top;
  margin: 2px 0 1px 18px;
}

.header-utility-02 ul {
  list-style: inherit;
}

.header-utility-02 img {
  margin-right: 5px;
  vertical-align: middle;
}

.header-utility-02 img.icon-newwindow {
  margin-right: 0;
}

.header-search {
  margin: 5px 0 0;
  float: right;
  clear: right;
}

.header-search form {
  display: inline-block;
  vertical-align: top;
}

.header-search .search-text {
  height: 26px;
  border: 1px solid #d4d4d4;
  font-size: 12px;
  float: left;
  width: 140px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  vertical-align: top;
}

.header-search .search-btn {
  height: 26px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border: 1px solid #d4d4d4;
  border-left: none;
  background-color: #e6e6e6;
  font-size: 12px;
  margin: 0;
  padding: 0 4px;
  vertical-align: top;
  float: left;
}

#global_navigation_header .header-cvn {
  margin: 0 0 0 5px;
  display: inline-block;
  vertical-align: top;
}

.header-cvn .btn-03 {
  padding: 3px 15px 2px 28px;
  font-size: 92.86%;
  min-width: 1%;
  border-color: #005595;
  background-color: #006ec2;
}

.header-cvn .btn-03:before {
  top: .1em;
  background-position: -240px 0px;
  width: 11px;
  height: 11px;
}

.header-search.branch .header-cvn .btn-03 {
  padding: 2px 7px 1px 20px;
  font-size: 78.57%;
}

.header-search.branch .header-cvn .btn-03:before {
  top: 0.2em;
}

.header-search.branch .header-cvn .btn-03.btn-transfer {
  background-color: #df8539;
  border-color: #912e04;
}

.header-search.branch .header-cvn .btn-03.btn-transfer:before {
  background-position: -285px 0px;
  width: 11px;
  height: 11px;
}

.header-search.branch .header-cvn .btn-03.btn-market {
  background-color: #5f5f5f;
  border-color: #000;
}

.header-search.branch .header-cvn .btn-03.btn-market:before {
  background-position: -315px 0px;
  width: 11px;
  height: 11px;
}

.str-nav {
  min-width: 986px;
}

.str-market .str-nav {
  overflow: hidden;
  border-top: 1px solid #2f5aa9;
  border-bottom: 1px solid #103a86;
  background-color: #13449d;
  line-height: 1.2;
  font-weight: bold;
}

.str-market .str-nav .str-inner {
  position: relative;
}

.str-market .nav-global {
  float: left;
  font-size: 114.29%;
}

.str-market .nav-global > li {
  position: relative;
  float: left;
  padding: 4px 10px 5px 12px;
  z-index: 2;
}

.str-market .nav-global > li:before {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  margin-top: -12px;
  width: 0;
  height: 23px;
  border-right: 1px solid #1e50a9;
  border-left: 1px solid #002871;
  content: "";
}

.str-market .nav-global > li.current > a {
  background-color: #fff;
  color: #000;
}

.str-market .nav-global a {
  display: block;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
  padding: 6px 13px 4px;
}

.str-market .nav-global a:hover,
.str-market .nav-global a:active,
.str-market .nav-global a:focus {
  background-color: #fff;
  color: #000;
}

.str-market .nav-sub {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  margin-top: 10px;
  padding: 0 5px;
  width: 15em;
  background-color: #f2f2f2;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.75);
  font-weight: normal;
  font-size: 87.5%;
}

.str-market .nav-sub > li {
  padding: 5px 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #e6e6e6;
}

.str-market .nav-sub > li:first-child {
  border-top: 0;
}

.str-market .nav-sub > li:last-child {
  border-bottom: 0;
}

.str-market .nav-sub > li.current > a {
  background-color: #fff;
  color: #000;
}

.str-market .nav-sub a {
  position: relative;
  padding: 7px 0 5px 20px;
  color: #000;
}

.str-market .nav-sub a:before {
  background-position: -71px 0px;
  width: 5px;
  height: 8px;
  position: absolute;
  top: 50%;
  left: 7px;
  display: block;
  margin-top: -4px;
  content: "";
}

.str-market .nav-sub a:hover,
.str-market .nav-sub a:active,
.str-market .nav-sub a:focus {
  background-color: transparent;
  color: #e40000;
}

.str-market .nav-global-02 {
  position: absolute;
  top: -1px;
  left: 576px;
  width: 100%;
  border-top: 1px solid #6f88b4;
  border-bottom: 1px solid #2f5aa9;
  border-left: 1px solid #113e8e;
  background-color: #002c7b;
}

.str-market .nav-global-02 > li {
  float: left;
  text-align: center;
  position: relative;
}

.str-market .nav-global-02 > li.nav-global-02-01 {
  width: 183px;
}

.str-market .nav-global-02 > li.nav-global-02-02 {
  width: 225px;
}

.str-market .nav-global-02 > li:before {
  position: absolute;
  top: 50%;
  right: 0;
  display: block;
  margin-top: -12px;
  width: 0;
  height: 23px;
  border-right: 1px solid #1e50a9;
  border-left: 1px solid #002871;
  content: "";
}

.str-market .nav-global-02 a {
  color: #fff;
  display: block;
  padding: 8px 0 7px;
  text-decoration: none;
}

.str-market .nav-global-02 a:hover,
.str-market .nav-global-02 a:active,
.str-market .nav-global-02 a:focus {
  text-decoration: underline;
}

.str-market .nav-global-02 .icon-newwindow {
  margin-right: 0;
}

.str-corp .str-nav {
  text-align: center;
  position: relative;
}

.str-corp .str-nav-global {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI0MCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZTZlNmU2IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background-image: -webkit-linear-gradient(top, white 40%, #e6e6e6);
  background-image: linear-gradient(to bottom, white 40%, #e6e6e6);
  border-bottom: 1px solid #c3c3c3;
}

.str-corp .nav-global {
/* 2014.1.7 modify >>>>> */
/*
  font-size: 114.29%;
*/
  font-size: 15px !important;
/* 2014.1.7 modify <<<<< */
  font-weight: bold;
  position: relative;
}

.str-corp .nav-global > li {
  float: left;
/* 2014.1.7 modify >>>>> */
/*
  width: 20%;
*/
  font-family: Meiryo UI, Meiryo, Verdana, Arial, 'ＭＳ Ｐゴシック', sans-serif;
/* 2014.1.7 modify <<<<< */
  padding: 5px 2px 5px 0;
}

.str-corp .nav-global > li:first-child > a:before {
  content: "";
  display: inline-block;
  background-position: 0px 0px;
  width: 2px;
  height: 23px;
  position: absolute;
  top: 3px;
  left: 0;
}

.str-corp .nav-global > li.current > a {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmVkYWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -webkit-linear-gradient(top, white, #ffedab);
  background: linear-gradient(to bottom, white, #ffedab);
  background-color: #ffedab;
}

.str-corp .nav-global > li > a {
  display: block;
  text-decoration: none;
  color: #000;
  padding: 1px 0;
  position: relative;
/* 2014.1.7 add >>>>> */
  font-family : Meiryo UI, Meiryo, Verdana, Arial, 'ＭＳ Ｐゴシック', sans-serif !important;
/* 2014.1.7 add <<<<< */
}

.str-corp .nav-global > li > a:after {
  content: "";
  display: inline-block;
  background-position: 0px 0px;
  width: 2px;
  height: 23px;
  position: absolute;
  top: 3px;
  right: -2px;
}

.str-corp .nav-global > li > a:hover,
.str-corp .nav-global > li > a:active,
.str-corp .nav-global > li > a:focus {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmVkYWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -webkit-linear-gradient(top, white, #ffedab);
  background: linear-gradient(to bottom, white, #ffedab);
  background-color: #ffedab;
}

.str-corp .nav-global > li span {
/* 2014.1.7 modify >>>>> */
/*
  font-size: 72%;
  background: #bd0103;
  padding: 1px 3px;
  margin: 5px;
  color: #FFFFFF;
*/
  font-size: 9px !important;
  margin: 0 2px 0 0  !important;
  color: #bd0103 !important;
  vertical-align:15% !important;
  background: none !important;
  padding: 0 !important;
/* 2014.1.7 modify <<<<< */
}
/* 2014.1.7 delete >>>>> */
/*
.str-corp .nav-global.branch > li {
  width: 20%;
}
*/
/* 2014.1.7 delete <<<<< */
/* 2014.3.18 add >>>>> */
/* 2016.11.07 modify >>>>> */
/*
.str-corp .nav-global>li.HomeTab {width: 16%}
.str-corp .nav-global>li.EraberuGaikaTab {width: 16%}
.str-corp .nav-global>li.GaitameOptionTab {width: 18%}
.str-corp .nav-global>li.ChoitrFxTab {width: 16%}
.str-corp .nav-global>li.MirrorTraderTab {width: 18%;}
.str-corp .nav-global > li.MyPageTab {width: 16%;}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.str-corp .nav-global>li.HomeTab{width:15%}
.str-corp .nav-global>li.GaitameOptionTab{width:19%}
}
*/
.str-corp .nav-global>li.HomeTab {width: 20%}
.str-corp .nav-global>li.EraberuGaikaTab {width: 20%}
.str-corp .nav-global>li.GaitameOptionTab {width: 20%}
.str-corp .nav-global>li.ChoitrFxTab {width: 20%}
.str-corp .nav-global>li.MirrorTraderTab {width: 18%;}
.str-corp .nav-global > li.MyPageTab {width: 20%;}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.str-corp .nav-global>li.HomeTab{width:20%}
.str-corp .nav-global>li.GaitameOptionTab{width:20%}
}
/* 2016.11.07 modify <<<<< */
/* 2014.3.18 add <<<<< */

.str-corp .nav-global.branch-02 > li.current > a {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9ImcxOTAiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMTAwJSIgeTE9IjEwMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgo8c3RvcCBzdG9wLWNvbG9yPSIjODJDQUYwIiBvZmZzZXQ9IjAiLz48c3RvcCBzdG9wLWNvbG9yPSIjRkZGRkZGIiBvZmZzZXQ9IjEiLz4KPC9saW5lYXJHcmFkaWVudD4KPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNnMTkwKSIgLz4KPC9zdmc+);
  background: -webkit-linear-gradient(top, white, #82caf0);
  background: linear-gradient(to bottom, white, #82caf0);
  background-color: #82caf0;
}

.str-corp .nav-global.branch-02 > li > a:hover,
.str-corp .nav-global.branch-02 > li > a:active,
.str-corp .nav-global.branch-02 > li > a:focus {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9ImcxOTAiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMTAwJSIgeTE9IjEwMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgo8c3RvcCBzdG9wLWNvbG9yPSIjODJDQUYwIiBvZmZzZXQ9IjAiLz48c3RvcCBzdG9wLWNvbG9yPSIjRkZGRkZGIiBvZmZzZXQ9IjEiLz4KPC9saW5lYXJHcmFkaWVudD4KPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNnMTkwKSIgLz4KPC9zdmc+);
  background: -webkit-linear-gradient(top, white, #82caf0);
  background: linear-gradient(to bottom, white, #82caf0);
  background-color: #82caf0;
}

.str-corp .nav-sub {
  width: 100%;
  font-weight: normal;
  font-size: 92.86%;
  display: table;
  text-align: center;
}

.str-corp .nav-sub > li {
  display: table-cell;
  padding: 3px 5px;
  width:15%;
}

.str-corp .nav-sub > li:first-child a:after {
  content: "";
  display: block;
  position: absolute;
  top: .3em;
  left: -5px;
  width: 1px;
  height: 1.2em;
  background-color: #4071cd;
}

.str-corp .nav-sub > li.current a {
  background-color: #fff;
  color: #000;
}

.str-corp .nav-sub a {
  display: block;
  padding: 2px 1px 1px;
  border-radius: 3px;
  text-decoration: none;
  position: relative;
}

.str-corp .nav-sub a:link,
.str-corp .nav-sub a:visited {
  color: #fff;
}

.str-corp .nav-sub a:hover,
.str-corp .nav-sub a:active,
.str-corp .nav-sub a:focus {
  background-color: #fff;
  color: #000;
}

.str-corp .nav-sub a:before {
  content: "";
  display: block;
  position: absolute;
  top: .3em;
  right: -5px;
  width: 1px;
  height: 1.2em;
  background-color: #4071cd;
}

.str-nav-sub {
  min-width: 986px;
  background-color: #13449d;
}

.str-contents {
  min-width: 986px;
  padding: 10px 0;
  border-bottom: 1px solid #c2c2c2;
}

.topic-path {
  list-style: none;
  font-size: 85.71%;
}

.topic-path > li {
  display: inline-block;
}

.topic-path > li:before {
  content: ">";
  padding-right: 5px;
}

.topic-path > li:first-child:before {
  content: "";
  padding: 0;
}

.topic-path strong {
  background-color: transparent;
}

.str-primary {
  width: 751px;
  float: right;
}

.str-primary > *:first-child {
  margin-top: 0 !important;
}

.str-secondary {
  width: 220px;
  float: left;
}

.nav-local {
  border-top: 3px solid #1355cd;
  background-color: #f2f2f2;
  margin-bottom: 15px;
  padding: 4px 10px;
  line-height: 1.4;
}

.nav-local a {
  display: block;
  position: relative;
  margin: 3px 0 4px;
  padding: 5px 1px 4px 20px;
  text-decoration: none;
}

.nav-local a:before {
  content: "";
  display: block;
  background-position: -210px 0px;
  width: 11px;
  height: 11px;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -6px;
}

.nav-local a:link,
.nav-local a:visited {
  color: #000;
}

.nav-local a:hover,
.nav-local a:active {
  color: #e40000;
}

.nav-local > li {
  font-weight: bold;
  font-size: 114.29%;
  position: relative;
}

.nav-local > li:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #fff;
  border-top: 1px solid #dbdbdb;
}

.nav-local > li:first-child:before {
  display: none;
}

.nav-local > li.active > ul,
.nav-local > li.current > ul {
  display: block;
}

.nav-local > li.current > a {
  background-color: #bcbcbc;
  border-radius: 4px;
  color: #001b4b;
}

.nav-local > li.active > a:before {
  background-position: -180px 0px;
}

.nav-local > li > ul > li {
  font-size: 87.5%;
  font-weight: normal;
}

.nav-local > li > ul > li a {
  padding-left: 17px;
}

.nav-local > li > ul > li a:before {
  background-position: -38px 0px;
  width: 4px;
  height: 5px;
  margin-top: -3px;
  left: 4px;
}

.nav-local > li > ul > li.current > a {
  background-color: #bcbcbc;
  border-radius: 4px;
  color: #001b4b;
}

.nav-local > li > ul > li.active > a:before {
  background-position: -127px 0px;
  width: 6px;
  height: 5px;
}

.nav-local > li > ul > li > ul {
  padding: 2px 0 2px 10px;
  background-color: #e6e6e6;
  position: relative;
}

.nav-local > li > ul > li > ul:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  border-top: 1px solid #dbdbdb;
}

.nav-local > li > ul > li > ul > li {
  font-size: 100%;
}

.nav-local > li > ul > li > ul > li:before {
  display: none;
}

.nav-local > li > ul > li > ul > li.current > a {
  background-color: #bcbcbc;
  border-radius: 4px;
  color: #001b4b;
}

.nav-local > li > ul > li > ul > li.active > a:before {
  background-position: -127px 0px;
  width: 6px;
  height: 5px;
}

.nav-local > li > ul > li > ul > li > ul {
  padding: 0 0 0 10px;
  position: static;
}

.nav-local > li > ul > li > ul > li > ul:before {
  display: none;
}

.nav-local > li > ul > li > ul > li > ul > li a:before {
  background: none #13449d;
  width: 3px;
  height: 3px;
  margin-top: -2px;
}

.nav-local > li > ul > li > ul > li > ul > li.current > a {
  background-color: #bcbcbc;
  border-radius: 4px;
  color: #001b4b;
}

.nav-local ul {
  display: none;
}

.nav-local .active > ul {
  display: block;
}

.local-panel {
  position: relative;
  margin-bottom: 15px;
}

.local-panel.report {
  margin-bottom: 10px;
  padding: 23px 0 20px;
  background-color: #FFFFFF;
  height: 324px;
  overflow: hidden;
  position: relative;
}

.corp-top .local-panel.report {
  height: 324px;
}

.str-market .local-panel.report {
  height: 470px;
  padding-bottom: 23px;
}

.local-panel.login {
  border: 1px solid #bcbcbc;
  background-color: #f2f2f2;
  padding: 10px;
}

.local-panel.login .hdg {
  margin: 0 0 10px;
  padding: 0 0 5px;
  font-size: 114.29%;
  font-weight: normal;
  text-align: center;
  border-bottom: 1px solid #dbdbdb;
  position: relative;
}

.local-panel.login .hdg:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: -2px;
  background-color: #fff;
}

.local-panel.login input {
  width: 120px;
}

.local-panel.login .link-list {
  /*font-size: 85.71%;*/
  font-size: 78.57%;
}

.local-panel.login .link-list li {
  margin-bottom: 0;
}

.local-panel.type-01 {
  border: 1px solid #cacaca;
}

.local-panel.type-01 .local-hdg {
  background-color: #e6e6e6;
  position: relative;
  padding: 8px;
  border-bottom: 1px solid #cacaca;
}

.local-panel.type-01 .local-hdg .link-list {
  margin-top: 0;
  position: absolute;
  top: 11px;
  right: 8px;
  font-size: 85.71%;
}

.local-panel.type-01 .local-hdg .link-list > li {
  margin: 0;
}

.local-panel.type-01 .hdg {
  font-size: 100%;
  font-weight: normal;
  margin-top: 2px;
}

.local-panel.type-01 .list-banner {
  margin: 10px 0 0 14px;
}

.local-panel.type-01 .list-banner > li {
  text-align: left;
}

.report .local-panel-inner {
  margin: 0;
  padding: 0 10px;
  width: 100%;
  height: 100%;
  position: absolute;
}

.report .local-panel-inner .hdg-report {
  margin: -5px 0 6px;
  padding: 10px 0 3px;
  font-size: 107.14%;
  text-align: center;
/* 2016.11.07 modify >>>>> */
/*
  border-bottom: 2px solid #c0c0c0;
*/
  border-bottom: 2px solid silver;
/* 2016.11.07 modify <<<<< */
}

.str-market .local-panel-inner {
  padding: 10px 10px 2px 10px;
  border-left: none;
  border-right: none;
  background-color: #f2f2f2;
}

.str-market .local-panel-inner .hdg-report {
  padding-top: 0;
}

.local-report-date {
  background-color: #FFED97;
}

.list-date-report {
  text-align: center;
  position: relative;
  font-size: 107.14%;
  color: #9f9f9f;
  line-height: 1.2;
  padding: 2px 0;
}

.list-date-report > li > a,
.list-date-report > li > span {
  padding-left: 10px;
  position: relative;
  display: inline-block;
}

.list-date-report > li > a:before,
.list-date-report > li > span:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -3px;
  background-position: -38px 0px;
  width: 4px;
  height: 5px;
}

.list-date-report .prev,
.list-date-report .next {
  padding: 1px 5px;
  position: absolute;
  left: 0;
  top: 4px;
  font-size: 80%;
  border-right: 1px solid #e6e6e6;
}

.list-date-report .prev > a:before,
.list-date-report .prev > span:before,
.list-date-report .next > a:before,
.list-date-report .next > span:before {
  margin-top: -2px;
  background-position: -14px 0px;
  width: 4px;
  height: 5px;
}

.list-date-report .prev > a,
.list-date-report .prev > span {
  padding-right: 10px;
}

.list-date-report .prev > span:before {
  background-position: -14px 0px;
}

.list-date-report .prev > span:before {
  background-position: -22px 0px;
}

.list-date-report .next {
  border-right: none;
  left: auto;
  right: 0;
  border-left: 1px solid #e6e6e6;
}

.list-date-report .next > a,
.list-date-report .next > span {
  padding-right: 10px;
}

.list-date-report .next > a:before,
.list-date-report .next > span:before {
  left: auto;
  right: 0;
}

.list-date-report .next > a:before {
  background-position: -54px 0px;
}

.list-date-report .next > span:before {
  background-position: -46px 0px;
}

.list-date-report .today {
  color: #000 !important;
}

.list-date-report .today > a:before {
  display: none;
}

.list-date-report .today > span {
  padding-left: 0;
}

.list-date-report > li.today > span.report-date:before {
  background-image: none !important;
}

.str-market .list-date-report > li.prev > a,
.str-market .list-date-report > li.prev > span {
  padding-right: 5px;
}

.str-market .list-date-report > li.today > a,
.str-market .list-date-report > li.today > span {
  padding-left: 0;
}

.str-market .list-date-report > li.next > a,
.str-market .list-date-report > li.next > span {
  padding-left: 5px;
}

.nav-report {
  font-size: 71.43%;
}

.nav-report > li {
  position: absolute;
  width: 100%;
  text-align: center;
}

.nav-report > li:hover {
  opacity: 0.8;
}

.nav-report .prev {
  top: 0;
}

.nav-report .next {
  bottom: 0;
}

.list-report-timeline {
  font-size: 85.71%;
  line-height: 1.3;
}

.list-report-timeline > li {
  padding: 0 0 8px;
  position: relative;
}

.list-report-timeline > li:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #fff;
  border-top: 1px solid #dbdbdb;
  margin: 0 0 8px;
}

.list-report-timeline > li:first-child:before {
  display: none;
}

.list-report-timeline b {
  display: block;
  padding: 0 0 .5em 3.8em;
  position: relative;
}

.list-report-timeline b .report-time {
  position: absolute;
  top: 0;
  left: 0;
}

.list-report-timeline .report-rank {
  float: right;
}

.footer-links {
  min-width: 986px;
  padding: 8px 0 0;
  border-top: 1px solid #fff;
  border-bottom: 2px solid #f0c51e;
  background: url(/common/images/bg-footer.png) 0 0 repeat;
}

.footer-links .hdg {
  margin: 5px 0 !important;
  padding: 0 0 0 20px;
  font-size: 100%;
  position: relative;
}

.footer-links .hdg:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 5px;
  left: 0;
  background-position: -210px 0px;
  width: 11px;
  height: 11px;
}

.footer-links .col-4 .link-list > li a,
.footer-links .col-5 .link-list > li a {
/* 2016.11.07 modify >>>>> */
/*
  padding-left: 20px;
*/
  padding-left: 15px;
/* 2016.11.07 modify <<<<< */
}

.footer-links .col-4 .link-list > li:before,
.footer-links .col-5 .link-list > li:before {
  left: 3px;
}

.footer-links .col-4,
.footer-links .col-5 {
  margin: 0 0 10px;
  width: 100%;
  border-right: 1px solid #ccc;
}

.footer-links .col-4 > .col,
.footer-links .col-5 > .col {
  margin-bottom: 0 !important;
  margin-left: 0;
  padding: 2px 10px;
  width: 25%;
  border-left: 1px solid #ccc;
}

.footer-links .col-5 > .col {
/* 2016.11.07 modify >>>>> */
/*
  width: 20%;
*/
  width:25%;
  font-size:88%;
/* 2016.11.07 modify <<<<< */
}

.str-market .footer-links {
  background: none #e6e6e6;
}

.footer-links-02 {
/* 2016.11.07 modify >>>>> */
/*
  padding: 10px 0;
*/
  padding:0 0 10px;
  font-size:88%;
/* 2016.11.07 modify <<<<< */
  border-top: 1px solid #c2c2c2;
}

.footer-links-03 {
  border-top: 1px solid #c2c2c2;
  background-color: #f8f8f8;
}

/* 2016.11.07 add >>>>> */
.footer-links-04 {
padding:0 0 10px;
font-size:88%;
border-top:1px solid #c2c2c2;
}

.footer-links-04 .str-inner .link-list>li {
width:140px;
}
/* 2016.11.07 add <<<<< */

.footer-list-bnr {
  padding: 17px 0 23px;
}

.footer-list-bnr > li {
/* 2016.11.07 modify >>>>> */
/*
  margin: 0 0 0 13px;
*/
  margin: 0 0 0 6px;
/* 2016.11.07 modify <<<<< */
  float: left;
}

.footer-list-bnr > li:first-child {
  margin: 0;
}

.footer-notice {
  min-width: 986px;
  padding: 20px 0;
  background-color: #13449d;
  color: #fff;
}

.copyright {
  min-width: 986px;
  margin: 0 auto;
  padding: 5px 0;
  text-align: center;
  font-size: 85.71%;
}

.str-lyt1-footer {
  margin-top: 20px;
}

.str-lyt1-footer .copyright {
  padding: 0;
}

.hdg-l3 a,
.hdg-l4 a,
.hdg-l5 a {
  position: relative;
  display: inline-block;
}

.hdg-l3 a:before,
.hdg-l4 a:before,
.hdg-l5 a:before {
  background-position: -62px 0px;
  width: 5px;
  height: 7px;
  position: absolute;
  z-index: 2;
  display: block;
  content: "";
}

.hdg-l1 {
  margin: 20px 0 20px;
  background: url(/common/images/bg-hdg-l1-02.png) 0 100% repeat-x;
}

.hdg-l1 .hdg-l1-inner {
  min-height: 90px;
  background: url(/common/images/bg-hdg-l1.png) 100% 0 no-repeat;
}

.hdg-l1 .hdg {
  padding: 15px 10px 0 10px;
  font-size: 200%;
}

.hdg-l1 .lead {
  margin-top: 0;
  padding: 0 10px 5px;
}

.hdg-l1 .lead-container {
  position: relative;
  margin: 0;
  padding: 0 17em 0 0;
}

.hdg-l1 .lead-container .btn,
.hdg-l1 .lead-container .btn-02,
.hdg-l1 .lead-container .btn-03,
.hdg-l1 .lead-container .btn-04,
.hdg-l1 .lead-container .btn-05,
.hdg-l1 .lead-container .btn-hs {
  position: absolute;
  top: 3px;
  right: 10px;
}

.hdg-l1 .lead-container .btn:before,
.hdg-l1 .lead-container .btn-02:before,
.hdg-l1 .lead-container .btn-03:before,
.hdg-l1 .lead-container .btn-04:before,
.hdg-l1 .lead-container .btn-05:before,
.hdg-l1 .lead-container .btn-hs:before {
  background-position: -107px 0px;
  width: 6px;
  height: 6px;
}

.hdg-l1 .lead-container .btn a,
.hdg-l1 .lead-container .btn-02 a,
.hdg-l1 .lead-container .btn-03 a,
.hdg-l1 .lead-container .btn-04 a,
.hdg-l1 .lead-container .btn-05 a,
.hdg-l1 .lead-container .btn-hs a {
  text-decoration: none;
}

.hdg-l1 .label {
  display: inline-block;
  font-size: 50%;
}

.hdg-l1 .hdg-info {
  position: absolute;
  bottom: 20px;
  right: 10px;
  padding: 3px 5px;
  background-color: #f2f2f2;
  font-weight: bold;
}

.hdg-l1 .hdg-info img {
  margin: 0 5px 0 0;
}

.hdg-l1.branch .hdg {
  padding-top: 0;
}

.hdg-l1.branch-02 .hdg-l1-inner {
  position: relative;
  padding-right: 13.5em;
}

.hdg-l1.img {
  background: none;
}

.hdg-l1.img .hdg-l1-inner {
  padding: 10px 0 0;
  min-height: inherit;
  background: none;
}

.hdg-l1.img .hdg {
  padding: 0;
}

.topic-path + .hdg-l1,
.str-lyt-1 + .hdg-l1 {
  margin: 0 0 20px;
}

.hdg-l2 {
  margin: 20px 0 10px;
  padding: 0 0 0 10px;
  border-left: 4px solid #1052cb;
  line-height: 1.2;
}

.hdg-l2 .hdg {
  font-size: 157.14%;
}

.hdg-l2 a {
  position: relative;
  display: inline-block;
}

.hdg-l2 a:before {
  position: absolute;
  top: 0;
  left: -14px;
  display: block;
  width: 9px;
  height: 100%;
  background-color: #1052cb;
  content: "";
}

.hdg-l2 a:after {
  background-position: -62px 0px;
  width: 5px;
  height: 7px;
  position: absolute;
  display: block;
  content: "";
  top: 50%;
  left: -12px;
  margin-top: -4px;
}

.hdg-l2 .label {
  display: inline-block;
  margin: 0 0 5px;
  padding: 3px 3px 1px;
  background-color: #f2f2f2;
  font-size: 63.64%;
}

.hdg-l2.branch {
  position: relative;
  padding-right: 13.5em;
}

.hdg-l2.branch-02 {
  position: relative;
  padding-right: 19.5em;
}

.hdg-l2 .hdg-info {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px 10px 4px;
  background-color: #f2f2f2;
}

.hdg-l2 .hdg-info img {
  margin: 0 5px 0 0;
  vertical-align: middle;
}

.hdg-l2 .btn,
.hdg-l2 .btn-02,
.hdg-l2 .btn-03,
.hdg-l2 .btn-04,
.hdg-l2 .btn-05,
.hdg-l2 .btn-hs {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: .4em 10px .2em 20px;
}

.hdg-l2 .btn > a,
.hdg-l2 .btn-02 > a,
.hdg-l2 .btn-03 > a,
.hdg-l2 .btn-04 > a,
.hdg-l2 .btn-05 > a,
.hdg-l2 .btn-hs > a {
  text-decoration: none;
}

.hdg-l2 .btn > a:before,
.hdg-l2 .btn-02 > a:before,
.hdg-l2 .btn-03 > a:before,
.hdg-l2 .btn-04 > a:before,
.hdg-l2 .btn-05 > a:before,
.hdg-l2 .btn-hs > a:before,
.hdg-l2 .btn > a:after,
.hdg-l2 .btn-02 > a:after,
.hdg-l2 .btn-03 > a:after,
.hdg-l2 .btn-04 > a:after,
.hdg-l2 .btn-05 > a:after,
.hdg-l2 .btn-hs > a:after {
  display: none;
}

.hdg-l2-02 {
  position: relative;
  margin: 20px 0 10px;
  padding: 10px 450px 8px 15px;
  border-top: 3px solid #13449d;
  background-color: #e6e6e6;
}

.hdg-l2-02 .hdg {
  font-size: 128.57%;
}

.hdg-l2-02 .link-list {
  position: absolute;
  top: 12px;
  right: 0;
  margin: 0;
}

.hdg-l3 {
  position: relative;
  margin: 20px 0 10px;
  padding: 5px 10px 4px 28px;
  background-color: #013493;
  color: #fff;
  font-size: 128.57%;
  line-height: 1.4;
}

.hdg-l3:before {
  position: absolute;
  top: .6em;
  left: 10px;
  z-index: 1;
  display: block;
  width: 11px;
  height: 11px;
  background-color: #fffcef;
  content: "";
}

.hdg-l3 a {
  color: #fff;
}

.hdg-l3 a:before {
  background-position: -38px 0px;
  width: 4px;
  height: 5px;
  top: 8px;
  left: -14px;
}

.hdg-l3 a:hover,
.hdg-l3 a:active,
.hdg-l3 a:focus {
  text-decoration: none;
}

.hdg-l3 .hdg-icon {
  float: right;
  margin: 2px 10px;
}

.hdg-l3.exchange {
  background-color: #006ec2;
}

.hdg-l3.exchange a:before {
  background-position: -80px 0px;
  width: 5px;
  height: 7px;
  top: 8px;
  left: -14px;
}

.hdg-l3.system {
  background-color: #fe8915;
}

.hdg-l3.system a:before {
  background-position: -89px 0px;
  width: 5px;
  height: 7px;
  top: 8px;
  left: -14px;
}

.hdg-l3.mirror {
  background-color: #6DAB30;
}

.hdg-l3.mirror a:before {
  background-position: -6px 0px;
  width: 4px;
  height: 5px;
  top: 9px;
  left: -14px;
}

.hdg-l4 {
  margin: 20px 0 10px;
  border-bottom: 2px solid #1b4a9f;
  font-size: 121.43%;
}

.hdg-l4 a {
  padding-left: 20px;
}

.hdg-l4 a:before {
  background-position: -362px 0px;
  width: 12px;
  height: 13px;
  top: 50%;
  left: 0;
  margin-top: -7px;
}

.hdg-l5 {
  position: relative;
  margin: 20px 0 10px;
  padding: 0 0 0 15px;
  font-size: 114.29%;
}

.hdg-l5:before {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  margin-top: -5px;
  width: 9px;
  height: 9px;
  background-color: #1052cb;
  box-shadow: 0 0 1px #fff inset;
  content: "";
}

.hdg-l5 a:before {
  background-position: -62px 0px;
  width: 5px;
  height: 7px;
  top: 50%;
  left: -13px;
  margin-top: -4px;
}

em {
  font-weight: bold;
  font-style: normal;
}

strong.str {
  background-color: #ffe50d;
}

.lead {
  font-size: 107.14%;
}

.small {
  font-size: 85.71% !important;
}

.middle {
  font-size: 128.57% !important;
}

.large {
  font-size: 171.43% !important;
}

.list > li {
  position: relative;
  padding-left: 13px;
}

.list > li:before {
  content: "";
  display: block;
  position: absolute;
  top: .5em;
  left: 0;
  background-position: -98px 0px;
  width: 5px;
  height: 5px;
}

.list-ordered {
  margin-top: 10px;
  padding-left: 2em;
  list-style: decimal;
}

.list-ordered > li {
  list-style: decimal;
}

.list-ordered .list-ordered {
  margin-top: 0;
}

.list-ordered .image-left,
.list-ordered .image-right {
  margin-bottom: 10px;
}

.list {
  margin-top: 10px;
}

.list.inline > li {
  display: inline-block;
  margin-right: 1em;
}

.list .list {
  margin-top: 0;
}

.list-no-bullet {
  margin-top: 10px;
}

.list-no-bullet.inline > li {
  display: inline-block;
  margin-right: 1em;
}

.list-desc dt {
  margin-top: 10px;
  font-weight: bold;
}

.list-desc dt:first-child {
  margin-top: 0;
}

.list-desc dd > *:first-child {
  margin-top: 0;
}

.list-news > li {
  position: relative;
  margin: 10px 0 0;
  padding: 0 0 0 184px;
}

.list-news .date,
.list-news .icon-label {
  position: absolute;
  top: 0;
  left: 0;
}

.list-news .icon-label {
  left: 100px;
}

.list-news.branch > li {
  padding-left: 4em;
}

.market-top .list-news .icon-pdf {
  margin: -3px 8px 0 0;
}

.list-news-03 {
  padding: 0 8px;
}

.list-news-03 > li {
  padding: 8px 0;
  font-size: 85.71%;
  border-top: 1px dashed #cecece;
}

.list-news-03 > li:first-child {
  border-top: none;
}

.list-news-03 .hdg {
  margin: 0 0 8px;
  font-size: 116.67%;
}

.list-news-03 .image-left {
  margin-bottom: 0;
}

.list-news-03 .link-list {
  margin-top: 0;
}

.list-news-03 .link-list > li {
  margin: 0;
}

.list-icon {
  margin: 0 0 10px;
}

.list-icon > li {
  float: left;
  margin: 0 0 0 1px;
}

.list-icon > li:first-child {
  margin-left: 0;
}

.list-banner {
  font-size: 85.71%;
  line-height: 1.3;
}

.list-banner > li {
  margin: 0 0 10px;
  text-align: center;
}

.list-banner .branch {
  border: 1px solid #cacaca;
  line-height: 1.4;
  text-align: left;
}

.list-banner .branch a {
  display: block;
  padding: 8px 2px 8px 61px;
  text-decoration: none;
  position: relative;
}

.list-banner .branch a:link,
.list-banner .branch a:visited {
  color: #000;
}

.list-banner .branch a:hover {
  color: #e40000;
}

.list-banner .branch img {
  position: absolute;
  top: 50%;
  left: 3px;
  margin-top: -27px;
}

.list-banner .branch img.icon-newwindow {
  position: static;
  margin-top: 0;
}

.list-banner .branch-02 {
  background-color: #f2f2f2;
  padding: 10px;
  font-size: 116.67%;
}

.list-banner b {
  font-size: 116.67%;
}

.lyt-col-01 .list-banner-02 {
  margin: 0 auto;
  /*width: 780px;*/
  text-align: center;
  letter-spacing: -.4em;
}

.lyt-col-01 .list-banner-02 > li {
  display: inline-block;
  margin: 10px 3px 0;
  letter-spacing: normarl;
}

.list-sns > li {
  float: left;
}

.list-sns > li:first-child {
  width: 120px;
}

.list-sns img {
  vertical-align: middle;
  margin: 0 5px 0 0;
}

.list-seminar-01 dt {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid #efefef;
  font-size: 114.29%;
}

.list-seminar-01 dt:first-child {
  margin-top: 0;
  padding-top: 0;
  border-top: none;
}

.list-seminar-01 dt span {
  position: relative;
  display: inline-block;
  padding: 1px 6px 0 21px;
  background-color: #e5f3fe;
}

.list-seminar-01 dt span:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 6px;
  margin-top: -5px;
  background-position: -137px 0px;
  width: 10px;
  height: 10px;
}

.list-seminar-01 dd {
  margin-top: 10px;
}

.list-seminar-02 .type-01 {
  background-color: #ffe6e9;
}

.list-seminar-02 .type-02 {
  background-color: #e5f3fe;
}

.list-seminar-02 > li {
  margin-top: 2px;
  padding: 10px;
}

.list-seminar-02 > li:first-child {
  margin-top: 0;
}

.list-seminar-02 > li > span {
  display: inline-block;
  margin-bottom: 10px;
  font-weight: bold;
}

.panel-07 .list-seminar-02 {
  margin-bottom: 15px;
}

.list-seminar-03 .image-left {
  margin-top: 15px;
}

.list-seminar-03 .image-left > .image {
  margin-top: 0;
}

.list-seminar-03 .name {
  font-weight: bold;
}

.list-seminar-03 .name span {
  font-size: 114.29%;
}

.list-seminar-03 .description p:first-child {
  margin-top: 0;
}

.list-seminar-03 > li {
  margin-top: 15px;
  border-top: 1px solid #f2f2f2;
}

.list-seminar-03 > li:first-child {
  margin-top: 0;
  border-top: none;
}

.list-seminar-03 > li:first-child .image-left {
  margin-top: 0;
}

.panel-07 .list-seminar-03 {
  margin-bottom: 15px;
}

.list-tool > li {
  margin-top: 5px;
}

.list-tool > li:first-child {
  margin-top: 0;
}

.list-strategy-01 li {
  margin: 10px 0 0 12px;
  float: left;
  width: 140px;
  border: 1px solid #999;
  border-radius: 3px;
  position: relative;
}

.list-strategy-01 li:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #13449d;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  bottom: 0;
  left: 0;
}

.list-strategy-01 li:first-child {
  margin-left: 0;
}

.list-strategy-01 p {
  margin-top: 0;
}

.list-strategy-01 p.name {
  position: relative;
  padding: 6px 10px 5px 34px;
  color: #fff;
  background-color: #13449d;
  font-weight: bold;
  line-height: 1.2;
}

.list-strategy-01 p.name:before {
  position: absolute;
  top: .6em;
  left: 10px;
  z-index: 1;
  display: block;
  width: 11px;
  height: 11px;
  background-color: #edf1fc;
  content: "";
}

.list-strategy-01 p.name a {
  position: relative;
  display: inline-block;
  color: #fff;
}

.list-strategy-01 p.name a:before {
  background-position: -127px 0px;
  width: 6px;
  height: 5px;
  position: absolute;
  top: 50%;
  left: -22px;
  display: block;
  margin-top: -3px;
  content: "";
  z-index: 2;
}

.list-strategy-01 p.info {
  padding: 1px 15px 6px;
  border-top: 2px solid #13449d;
  font-size: 85.71%;
}

.notice-list {
  margin-top: 10px;
}

.notice-list .marker {
  position: absolute;
  top: 0;
  left: 0;
}

.notice-list > li {
  padding-left: 1.5em;
  position: relative;
}

.notice-list.num > li {
  padding-left: 2.5em;
}

.notice-panel {
  margin-top: 10px;
  background-color: #dee4e9;
  padding: 10px 15px;
}

.notice-panel .hdg {
  margin: 0 0 10px;
  font-size: 114.29%;
  font-weight: bold;
}

.notice-panel .hdg:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin: -1px 10px 0 0;
  background-position: -536px 0px;
  width: 26px;
  height: 25px;
}

.notice-panel p {
  margin: 0;
}

.notice-layout {
  padding-right: 18em;
  position: relative;
}

.notice-layout .notice {
  margin-top: 0;
  position: absolute;
  top: 0;
  right: 0;
}

.link-list > li > a,
.link-list-02 > li {
  position: relative;
}

.link-list > li > a:before,
.link-list-02 > li:before {
  background-position: -38px 0px;
  width: 4px;
  height: 5px;
  position: absolute;
  top: .5em;
  left: 5px;
  display: block;
  content: "";
}

.link-list {
  margin-top: 10px;
}

.link-list > li > a {
  padding-left: 14px;
  display: inline-block;
}

.link-list > li > .link-list {
  margin-top: 0;
}

.link-list.inline > li {
  display: inline-block;
  margin-right: 1em;
}

.link-list-02 {
  font-weight: bold;
}

.link-list-02 > li {
  padding-left: 20px;
}

.link-list-02 > li:before {
  top: .35em;
  left: 0;
  background-position: -210px 0px;
  width: 11px;
  height: 11px;
}

.link-close {
  margin: 0 25px 15px 0;
  text-align: right;
}

.link-close a {
  display: inline-block;
  position: relative;
}

.link-close a:before {
  content: "";
  display: inline-block;
  background-position: -484px 0px;
  width: 19px;
  height: 19px;
  vertical-align: middle;
  margin: -1px 5px 0 0;
}

.link-detail {
  font-size: 150%;
}

.link-detail a {
  padding-left: 31px;
  display: inline-block;
  position: relative;
}

.link-detail a:before {
  content: "";
  display: inline-block;
  position: absolute;
  margin-top: -13px;
  top: 50%;
  left: 0;
  background-position: -507px 0px;
  width: 25px;
  height: 25px;
}

.btn,
.btn-02,
.btn-03,
.btn-04,
.btn-05,
.btn-hs {
  position: relative;
  display: inline-block;
}

.btn:before,
.btn-02:before,
.btn-03:before,
.btn-04:before,
.btn-05:before,
.btn-hs:before {
  background-position: -38px 0px;
  width: 4px;
  height: 5px;
  position: relative;
  top: 0;
  left: -10px;
  display: inline-block;
  content: "";
}

#global_navigation_header .btn,
.btn-02,
.btn-03,
.btn-04,
.btn-05,
.btn-hs {
  margin: 0;
  padding: .4em 30px .4em 40px;
  border: none;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  border-radius: 5px;
  background-color: #f2f2f2;
  text-align: center;
  text-decoration: none !important;
  font-size: 100%;
}

.btn:hover,
.btn-02:hover,
.btn-03:hover,
.btn-04:hover,
.btn-05:hover,
.btn-hs:hover,
.btn:active,
.btn-02:active,
.btn-03:active,
.btn-04:active,
.btn-05:active,
.btn-hs:active {
  color: #001b4b !important;
  opacity: 0.5;
  cursor: pointer;
  text-decoration: none !important;
}

.btn:before,
.btn-02:before,
.btn-03:before,
.btn-04:before,
.btn-05:before,
.btn-hs:before {
  top: -.1em;
}

.btn.local-btn,
.local-btn.btn-02,
.local-btn.btn-03,
.local-btn.btn-04,
.local-btn.btn-05,
.local-btn.btn-hs,
.btn.local-btn-02,
.local-btn-02.btn-02,
.local-btn-02.btn-03,
.local-btn-02.btn-04,
.local-btn-02.btn-05,
.local-btn-02.btn-hs {
  margin: 15px 10px;
  display: block;
  color: #fff;
  background-color: #c70017;
  border-color: #9b0012;
}

.btn.local-btn:before,
.local-btn.btn-02:before,
.local-btn.btn-03:before,
.local-btn.btn-04:before,
.local-btn.btn-05:before,
.local-btn.btn-hs:before,
.btn.local-btn-02:before,
.local-btn-02.btn-02:before,
.local-btn-02.btn-03:before,
.local-btn-02.btn-04:before,
.local-btn-02.btn-05:before,
.local-btn-02.btn-hs:before {
  position: absolute;
  background-position: -270px 0px;
  width: 11px;
  height: 11px;
  left: 28px;
  top: 50%;
  margin-top: -5px;
}

.btn.local-btn,
.local-btn.btn-02,
.local-btn.btn-03,
.local-btn.btn-04,
.local-btn.btn-05,
.local-btn.btn-hs {
  border-radius: 7px;
  padding: .8em 0 .7em 24px;
  font-size: 150%;
}

.btn.local-btn-02,
.local-btn-02.btn-02,
.local-btn-02.btn-03,
.local-btn-02.btn-04,
.local-btn-02.btn-05,
.local-btn-02.btn-hs {
  padding: .4em 0 .3em 24px;
  font-size: 125%;
  background-color: #13789d;
  border-color: #0f5c79;
}

.btn.local-btn-02:before,
.local-btn-02.btn-02:before,
.local-btn-02.btn-03:before,
.local-btn-02.btn-04:before,
.local-btn-02.btn-05:before,
.local-btn-02.btn-hs:before {
  background-position: -255px 0px;
  width: 11px;
  height: 11px;
}

.btn-02 {
  padding: .6em 20px .5em 30px;
  border-right: 1px solid #3a3a3a;
  border-bottom: 1px solid #3a3a3a;
  background-color: #575757;
  color: #fff;
}

.btn-02:link,
.btn-02:visited {
  color: #fff;
}

.btn-02:hover,
.btn-02:active {
  color: #fff;
  opacity: 0.5;
}

.btn-02:before {
  background-position: -300px 0px;
  width: 11px;
  height: 11px;
  top: 0;
}

.btn-02.login {
  width: 100%;
  min-width: 1%;
  padding: .3em 0 .2em 10px;
}

.btn-02.login:before {
  background-position: -395px 0px;
  width: 13px;
  height: 15px;
  top: .2em;
}

.btn-03 {
  padding: .6em 20px .5em 30px;
  border-right: 1px solid #4569ab;
  border-bottom: 1px solid #4569ab;
  background-color: #5886db;
  color: #fff;
}

.btn-03:link,
.btn-03:visited {
  color: #fff !important;
}

.btn-03:hover,
.btn-03:active {
  color: #fff !important;
  opacity: 0.5;
}

.btn-03:before {
  background-position: -225px 0px;
  width: 11px;
  height: 11px;
  top: 0;
}

.btn-03.market {
  width: 326px;
  font-size: 128.57%;
}

.btn-04 {
  padding: 14px 20px 13px 40px;
  border-right: 1px solid #9b0012;
  border-bottom: 1px solid #9b0012;
  background-color: #c70017;
  color: #fff;
  font-size: 185.71%;
}

.btn-04:link,
.btn-04:visited {
  color: #fff;
}

.btn-04:hover,
.btn-04:active {
  color: #fff;
  opacity: 0.5;
}

.btn-04:before {
  background-position: -429px 0px;
  width: 13px;
  height: 13px;
}

.btn-05 {
  background-color: #fff;
  border-color: #c7c7c7;
}

.btn-05:before {
  background-position: -362px 0px;
  width: 12px;
  height: 13px;
  top: .15em;
}

.btn-hs {
  padding: 5px 5px 4px 10px;
  background-color: #272727;
  border: none;
  display: block;
}

.btn-hs:link,
.btn-hs:visited {
  color: #fff;
}

.btn-hs:hover,
.btn-hs:active {
  color: #fff;
  opacity: 0.8;
}

.btn-hs:before {
  background: url(/common/images/icon-hs.png) 0 0 no-repeat;
  width: 18px;
  height: 16px;
  top: .15em;
  left: -5px;
}

.btn-list > li {
  margin: 5px 0;
}

.btn-list.inline > li {
  display: inline-block;
  margin: 5px;
}

.nav-anchor li {
  display: inline-block;
  margin: 10px 10px 0 0;
}

.nav-anchor a {
  position: relative;
  display: inline-block;
  padding: 5px 10px 3px 25px;
  border-bottom: 1px solid #bfbfbf;
  border-radius: 5px;
  background-color: #f2f2f2;
  text-decoration: none;
}

.nav-anchor a:before {
  background-position: -107px 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  top: 50%;
  left: 13px;
  display: block;
  margin-top: -3px;
  content: "";
}

.nav-anchor a:hover,
.nav-anchor a:active {
  color: #001b4b;
  opacity: 0.7;
}

.nav-anchor img {
  vertical-align: middle;
  margin: -2px 5px 0 0;
}

.nav-anchor.market {
  text-align: center;
}

.nav-anchor.market li {
  margin: 10px 5px 0;
  font-size: 128.57%;
}

.nav-anchor.market a {
  padding: 10px 25px;
  border-bottom-color: #9cabc4;
  width: 330px;
  background-color: #cbdeff;
  text-align: center;
}

.nav-anchor.market a:before {
  display: none;
}

.nav-anchor.market a span {
  display: inline-block;
  position: relative;
}

.nav-anchor.market a span:before {
  background-position: -107px 0px;
  width: 6px;
  height: 6px;
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: -16px;
  margin-top: -3px;
}

.nav-anchor.tool {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.nav-anchor.tool li {
  margin: 0;
  padding-top: 10px;
  padding-left: 11px;
  display: table-cell;
  vertical-align: top;
}

.nav-anchor.tool li:first-child {
  padding-left: 0;
}

.nav-anchor.tool a {
  padding: 10px 10px 9px 25px;
  width: 100%;
}

.nav-anchor.tool img {
  margin: 0 5px 0 0;
}

.nav-anchor.firstfx {
  text-align: center;
  letter-spacing: -.4em;
}

.nav-anchor.firstfx li {
  margin: 10px 6px 0;
  vertical-align: top;
  letter-spacing: normal;
}

.nav-anchor.firstfx a {
  border-bottom-color: #9cabc4;
  width: 345px;
  background-color: #cbdeff;
  text-align: left;
}

.tab-container {
  margin-top: 10px;
}

.tab-list {
  display: table;
  position: relative;
  width: 100%;
  table-layout: fixed;
  z-index: 2;
}

.tab-list li {
  display: table-cell;
  padding: 0 6px 0 0;
}

.tab-list li.active {
  position: relative;
}

.tab-list li.active a {
  background-color: #fff;
  border-left: 1px solid #cacaca;
}

.tab-list li:first-child a {
  border-left: 1px solid #cacaca;
}

.tab-list a {
  display: block;
  padding: 8px 5px 4px;
  background-color: #f2f2f2;
  text-decoration: none;
  border-right: 1px solid #cacaca;
}

.tab-list a:link,
.tab-list a:visited {
  color: #000;
}

.tab-list a .icon {
  margin: -3px 0 0 8px;
  vertical-align: middle;
}

.tab-list.tab-top {
  bottom: -1px;
}

.tab-list.tab-top li.active a {
  padding: 5px 6px 4px;
  border-top: 3px solid #1052cb;
  border-bottom: 1px solid #fff;
}

.tab-list.tab-top a {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom: 1px solid #cacaca;
}

.tab-list.tab-bottom {
  float: right;
  top: -1px;
}

.tab-list.tab-bottom li {
  margin: 0 0 0 6px;
}

.tab-list.tab-bottom li.active a {
  padding: 7px 6px 2px;
  border-top: 1px solid #fff;
  border-bottom: 3px solid #1052cb;
}

.tab-list.tab-bottom a {
  padding: 7px 5px 5px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top: 1px solid #cacaca;
}

.tabs {
  border: 1px solid #cacaca;
  position: relative;
  z-index: 0;
}

.static .tab-panel {
  display: block;
}

.tab-panel {
  display: none;
  padding: 10px;
}

.tab-panel.active {
  display: block;
}

.nav-pagination {
  margin-top: 10px;
  position: relative;
  line-height: 1.2;
}

.nav-pagination .prev,
.nav-pagination .next {
  position: absolute;
  top: .3em;
}

.nav-pagination .prev:before,
.nav-pagination .next:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  margin-top: -7px;
  background-position: -346px 0px;
  width: 12px;
  height: 13px;
}

.nav-pagination .prev {
  left: 0;
  padding-left: 20px;
  color: #999;
}

.nav-pagination .prev:before {
  left: 0;
}

.nav-pagination .next {
  right: 0;
  padding-right: 20px;
  color: #999;
}

.nav-pagination .next:before {
  right: 0;
  background-position: -330px 0px;
}

.nav-pagination a {
  text-decoration: none;
}

.nav-pagination ol {
  text-align: center;
}

.nav-pagination ol li {
  display: inline-block;
}

.nav-pagination ol a,
.nav-pagination ol em {
  display: block;
  border: 1px solid #999;
  padding: 6px 10px 4px;
}

.nav-pagination ol em {
  border-color: #3f3f3f;
  background-color: #3f3f3f;
  color: #fff;
}

.nav-pagination.branch .prev,
.nav-pagination.branch .next {
  position: static;
  display: table-cell;
  width: 50%;
}

.nav-pagination.branch .prev {
  text-align: left;
}

.nav-pagination.branch .next {
  text-align: right;
}

.nav-pagination.branch ul {
  display: table;
  width: 100%;
}

.nav-pagination.branch ul li {
  font-size: 114.29%;
}

.nav-pagination.branch-02 {
  position: static;
}

.nav-pagination.branch-02 ul {
  text-align: center;
}

.nav-pagination.branch-02 ul li {
  display: inline-block;
}

.nav-pagination.branch-02 ul a,
.nav-pagination.branch-02 ul em {
  display: block;
  border: 1px solid #999;
  padding: 6px 10px 4px;
}

.nav-pagination.branch-02 ul em {
  border-color: #3f3f3f;
  background-color: #3f3f3f;
  color: #fff;
}

.nav-pagination.branch-02 .prev,
.nav-pagination.branch-02 .next {
  position: relative;
  top: 0;
}

.nav-pagination.branch-02 .prev a,
.nav-pagination.branch-02 .prev em,
.nav-pagination.branch-02 .next a,
.nav-pagination.branch-02 .next em {
  border: none;
}

.nav-pagination.branch-02 .prev em,
.nav-pagination.branch-02 .next em {
  display: inline;
  padding: 0;
  color: #000;
  background-color: inherit;
  font-weight: normal;
}

.nav-pagination.branch-02 .prev {
  padding-right: 5px;
}

.nav-pagination.branch-02 .prev a {
  padding-left: 0;
  padding-right: 0;
}

.nav-pagination.branch-02 .next {
  padding-left: 5px;
}

.nav-pagination.branch-02 .next a {
  padding-left: 0;
  padding-right: 0;
}

.nav-pagination.branch-03 {
  position: static;
}

.nav-pagination.branch-03 ul {
  text-align: center;
}

.nav-pagination.branch-03 ul li {
  display: inline-block;
}

.nav-pagination.branch-03 .hdg {
  padding: 10px 10px 8px;
  border: 1px solid #999;
  font-size: 114.29%;
  font-weight: bold;
}

.nav-pagination.branch-03 .prev,
.nav-pagination.branch-03 .next {
  position: relative;
  top: -.5em;
}

.nav-pagination.branch-03 .prev {
  padding-right: 5px;
}

.nav-pagination.branch-03 .next {
  padding-left: 5px;
}

.nav-top {
  margin-top: 10px;
  text-align: right;
}

.nav-top a {
  position: relative;
  padding-left: 20px;
}

.nav-top a:before {
  content: "";
  display: block;
  position: absolute;
  top: 0.35em;
  left: 0;
  background-position: -195px 0px;
  width: 11px;
  height: 11px;
}

.nav-anchor-tool {
  text-align: center;
}

.nav-anchor-tool > a {
  margin-left: 10px;
  padding-left: 14px;
  display: inline-block;
  position: relative;
}

.nav-anchor-tool > a:first-child {
  margin-left: 0;
}

.nav-anchor-tool > a:before {
  background-position: -107px 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  margin-top: -3px;
  content: "";
}

.nav-anchor-system {
  margin-top: 20px;
  position: relative;
  border: 2px solid #cacaca;
  min-height: 205px;
  background-color: #eaeaea;
}

.nav-anchor-system .txt,
.nav-anchor-system li {
  position: absolute;
}

.nav-anchor-system .txt {
  margin-top: 0;
  top: 21px;
  left: 12px;
}

.nav-anchor-system .anc-01 {
  top: 75px;
  left: 16px;
}

.nav-anchor-system .anc-02 {
  top: 134px;
  left: 16px;
}

.nav-anchor-system .anc-03 {
  top: 15px;
  left: 360px;
}

.nav-anchor-system .anc-04 {
  top: 74px;
  left: 360px;
}

.nav-anchor-system .anc-05 {
  top: 133px;
  left: 360px;
}

.nav-exchange {
  margin-top: 37px;
  text-align: center;
}

.nav-exchange > li {
  display: inline-block;
  margin: 0 5px;
  width: 230px;
  font-size: 78.57%;
  text-align: left;
  vertical-align: top;
}

.nav-exchange > li > span {
  display: block;
  margin-top: 5px;
  color: #333;
}

.icon-newwindow {
  margin: -2px 5px 0;
  vertical-align: middle !important;
}

.icon-pdf,
.icon-flag {
  margin: -3px 0 0 8px;
  vertical-align: middle;
}

.icon-new {
  margin: -3px 8px 0 0;
  vertical-align: middle;
}

.image-full {
  margin-top: 10px;
  text-align: center;
}

.image-full img {
  max-width: 751px;
  height: auto;
  margin: 0;
}

.image-full img + img {
  margin-top: 20px;
}

.image-full .image {
  margin: 0 auto;
  padding: 0;
  display: inline-block;
  vertical-align: top;
}

.image-left > .image {
  margin: 10px 15px 0 0;
  float: left;
}

.image-right > .image {
  margin: 10px 0 0 15px;
  float: right;
}

.image-left,
.image-right {
  margin-top: 10px;
}

.image-left > .image,
.image-right > .image {
  margin-top: 0;
}

.image-left > .image img + img,
.image-right > .image img + img {
  margin-top: 10px;
}

.image-left .col > *:first-child,
.image-right .col > *:first-child {
  margin-top: 0;
}

.image-left.parallel .col,
.image-right.parallel .col {
  overflow: hidden;
}

.image-left.parallel .col > *,
.image-right.parallel .col > * {
  overflow: hidden;
}

.image-list > li {
  margin-top: 10px;
}

.image-list[class*="col-"] {
  margin-top: 0;
}

.image-list[class*="col-"] > li {
  margin-top: 10px;
}

.image-left.balloon > .image,
.image-right.balloon > .image {
  width: 138px;
}

.image-left.balloon > .col,
.image-right.balloon > .col {
  width: 583px;
  position: relative;
  padding: 11px 15px 8px 15px;
  border: 1px solid #999999;
  border-radius: 5px;
  background-color: #f2f9fe;
}

.image-left.balloon > .col:after,
.image-left.balloon > .col:before,
.image-right.balloon > .col:after,
.image-right.balloon > .col:before {
  content: '';
  position: absolute;
  display: block;
  width: 0;
}

.image-left.balloon > .col p,
.image-right.balloon > .col p {
  font-size: 114.29%;
}

.image-left.balloon > .col p.hdg-point,
.image-right.balloon > .col p.hdg-point {
  color: #001335;
  font-weight: bold;
  border-bottom: 2px solid #13449d;
}

.image-left.balloon > .col {
  margin-left: 15px;
  float: right;
}

.image-left.balloon > .col:after {
  border-style: solid;
  border-width: 8px 15px 8px 0;
  border-color: transparent #f2f9fe;
  z-index: 1;
  left: -15px;
  top: 61px;
}

.image-left.balloon > .col:before {
  border-style: solid;
  border-width: 9px 16px 9px 0;
  border-color: transparent #999999;
  z-index: 0;
  left: -17px;
  top: 60px;
}

.image-right.balloon > .col {
  margin-right: 15px;
  float: left;
}

.image-right.balloon > .col:after {
  border-style: solid;
  border-width: 8px 0 8px 15px;
  border-color: transparent #f2f9fe;
  z-index: 1;
  right: -15px;
  top: 61px;
}

.image-right.balloon > .col:before {
  border-style: solid;
  border-width: 9px 0 9px 16px;
  border-color: transparent #999999;
  z-index: 0;
  right: -17px;
  top: 60px;
}

.panel {
  margin-top: 10px;
  padding: 15px;
  background-color: #efefef;
}

.panel .hdg {
  font-size: 114.29%;
}

.panel-02 {
  margin-top: 10px;
  padding: 15px;
  border: 8px solid #eda241;
  background: #fcfbd6;
  font-size: 128.57%;
}

.panel-02 p {
  /*font-size: 128.57%;*/
}

.panel-02 h2 {
  font-size: 128.57%;
}

.panel-02 .hdg {
  /*font-size: 114.29%;*/
}

.panel-03 {
  margin-top: 10px;
  padding: 5px 15px 15px;
  border: 1px solid #cacaca;
}

.panel-03 .image-left,
.panel-03 .image-right {
  margin-bottom: 0;
}

.panel-03 .hdg {
  font-size: 142.86%;
  line-height: 1.2;
}

.panel-03 .hdg > span {
  font-size: 80%;
}

.panel-03 h1.hdg {
  font-size: 171.43%;
}

.panel-03 h1.hdg > span {
  font-size: 90%;
}

.small .panel-03 {
  padding: 6px 7px;
  font-size: 85.71%;
}

.small .panel-03 .hdg {
  margin: 10px 0;
  font-size: 116.67%;
  font-weight: normal;
}

.panel-03.blank {
  background: url(/common/images/bg-panel-03.png) 50% 50% no-repeat;
}

.panel-04 {
  margin: 0 0 30px;
}

.panel-04 .hdg {
  font-size: 157.14%;
  background-color: #13449d;
  color: #fff;
  padding: 10px 20px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.panel-04 .panel-inner {
  border: 1px solid #d4d4d4;
  padding: 10px 20px;
}

.panel-05 {
  margin-top: 10px;
  border-top: 6px solid #13449d;
  background-color: #e6e6e6;
  padding: 20px;
}

.panel-05.service {
  padding: 7px 24px 5px;
}

.panel-05.service > .hdg {
  font-size: 114.29%;
}

.panel-05.service .content .col-2 {
  margin-top: 2px;
}

.panel-05.service .content .col-2 .col {
  padding: 0 25px 18px;
  border: 1px solid #d4d4d4;
  background-color: #fff;
  text-align: center;
}

.panel-05.service .content .col-2 .col > .hdg {
  margin: 0 -25px;
  padding: 12px 0 8px;
  border-bottom: 1px solid #d4d4d4;
  color: #fff;
  font-size: 114.29%;
  text-align: center;
  line-height: 1.2;
}

.panel-05.service .content .col-2 .col .btn,
.panel-05.service .content .col-2 .col .btn-02,
.panel-05.service .content .col-2 .col .btn-03,
.panel-05.service .content .col-2 .col .btn-04,
.panel-05.service .content .col-2 .col .btn-05,
.panel-05.service .content .col-2 .col .btn-hs {
  font-size: 128.57%;
}

.panel-05.service .content .col-2 .col.no-account > .hdg {
  background-color: #f36d00;
}

.panel-05.service .content .col-2 .col.no-account .cvn {
  margin: 10px -25px 0;
}

.panel-05.service .content .col-2 .col.no-account .cvn > img {
  vertical-align: middle;
}

.panel-05.service .content .col-2 .col.no-account .cvn .btn-04 {
  padding: 0.6em 20px 0.5em 30px;
}

.panel-05.service .content .col-2 .col.no-account .cvn .btn-04:before {
  background-position: -270px 0px;
  width: 11px;
  height: 11px;
}

.panel-05.service .content .col-2 .col.account > .hdg {
  background-color: #006ec2;
}

.panel-05.service .content .col-2 .col.account .btn-03 {
  background-color: #006ec2;
}

.panel-05.service .content .col-2 .col.account .btn-03:before {
  background-position: -255px 0px;
}

.panel-05.service.mirror {
  padding: 20px;
}

.panel-07 {
  margin-top: 10px;
  padding: 15px;
  border: 1px solid #9b9b9b;
  overflow-y: scroll;
}

.panel-07.type-01 {
  height: 292px;
}

.panel-07.type-02 {
  height: 572px;
}

.panel-07.market-tips {
  padding: 0;
  border: none;
}

.panel-07.market-tips > * {
  margin-top: 0;
}

.panel-cvn {
  padding: 8px 0 8px 20px;
  border: 1px solid #d4d4d4;
  background-color: #fff;
  color: #13449d;
}

.panel-cvn img {
  vertical-align: middle;
}

.panel-cvn b {
  font-size: 26px;
  font-weight: bold;
  position: relative;
  display: inline-block;
}

.panel-cvn b:after {
  content: "";
  position: relative;
  display: inline-block;
  vertical-align: middle;
  top: -2px;
  margin: 0 5px 0 0;
  background-position: -507px 0px;
  width: 25px;
  height: 25px;
}

.panel-cvn .btn-04 {
  font-size: 26px;
  vertical-align: middle;
  padding: 14px 38px 13px 58px;
}

.lyt-col-01 .panel-cvn {
  padding-left: 0;
  text-align: center;
}

.toggle {
  margin-top: 10px;
}

.toggle .toggle-hdg {
  position: relative;
  background-color: #b7cbef;
}

.toggle .toggle-hdg > button {
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  background-color: transparent;
  display: block;
  margin: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  color: transparent;
  text-align: right;
}

.toggle .toggle-hdg > button:before {
  content: "";
  background-position: -465px 0px;
  width: 15px;
  height: 15px;
  display: inline-block;
  position: absolute;
  top: 6px;
  left: 10px;
}

.toggle .hdg {
  font-size: 114.29%;
  font-weight: normal;
  padding: 2px 10px 1px 35px;
}

.toggle .toggle-content {
  padding: 1px 10px 10px;
  background-color: #f2f2f2;
}

.toggle.opened .toggle-hdg > button:before {
  background-position: -446px 0px;
}

.static .toggle .hdg {
  padding: 3px 10px 2px;
}

.panel-plugin {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #cacaca;
  background-color: #f9f9f9;
  text-align: center;
}

.panel-plugin p {
  margin-top: 0;
  font-size: 85.71%;
}

.panel-plugin p img {
  margin-left: 20px;
  vertical-align: middle;
}

.panel-faq-02 {
  margin-top: 10px;
}

.panel-faq-02 > .hdg {
  padding: 7px 10px 5px;
  color: #fff;
  background-color: #013493;
  font-size: 128.57%;
  line-height: 1.2;
}

.panel-faq-02 > .hdg .icon {
  margin: -3px 8px 0 0;
  vertical-align: middle;
}

.panel-faq-02 > .content {
  padding: 15px;
  border-width: 0 1px 1px;
  border-style: solid;
  border-color: #e6e6e6;
}

.panel-faq-02 > .content > .question,
.panel-faq-02 > .content > .answer {
  padding-left: 25px;
  position: relative;
}

.panel-faq-02 > .content > .question > *:first-child,
.panel-faq-02 > .content > .answer > *:first-child {
  margin-top: 0;
}

.panel-faq-02 > .content > .question:before,
.panel-faq-02 > .content > .answer:before {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: 0;
}

.panel-faq-02 > .content > .question {
  margin-top: 30px;
  font-weight: bold;
}

.panel-faq-02 > .content > .question:first-child {
  margin-top: 0;
}

.panel-faq-02 > .content > .question:before {
  background-position: -378px 0px;
  width: 13px;
  height: 14px;
}

.panel-faq-02 > .content > .answer:before {
  background-position: -412px 0px;
  width: 13px;
  height: 13px;
}

.panel-alert {
  margin: 15px auto;
  padding: 15px;
  border: 2px solid #c70017;
  width: 986px;
}

.panel-alert p {
  margin-top: 0;
  color: #c70017;
  font-size: 114.29%;
  font-weight: bold;
}

.panel-login {
  margin-top: 10px;
  padding: 12px 15px 10px;
  border: 1px solid #bcbcbc;
  background-color: #f2f2f2;
}

.panel-login .notice {
  position: relative;
  margin-top: 0 !Important;
  padding-bottom: 9px;
  border-bottom: 1px solid #dbdbdb;
  text-align: center;
}

.panel-login .notice:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: -2px;
  background-color: #fff;
}

.panel-login .form-list-login {
  margin-top: 15px;
  padding: 0 40px;
  position: relative;
}

.panel-login .form-list-login li {
  margin: 10px 0 0 0;
}

.panel-login input {
  width: 220px;
  height: 25px;
}

.panel-login .btn-02.login {
  width: 50%;
}

.panel-seminar {
  margin-top: 10px;
}

.panel-seminar > .hdg {
  position: relative;
  padding: 5px 10px 4px 28px;
  background-color: #013493;
  color: #fff;
  font-size: 128.57%;
  line-height: 1.4;
}

.panel-seminar > .hdg:before {
  position: absolute;
  top: .6em;
  left: 10px;
  z-index: 1;
  display: block;
  width: 11px;
  height: 11px;
  background-color: #fffcef;
  content: "";
}

.panel-seminar .hdg-icon {
  float: right;
  margin: 2px 5px;
}

.panel-seminar .content {
  padding: 15px;
  border-width: 0 1px 1px;
  border-style: solid;
  border-color: #9b9b9b;
}

.panel-seminar .content .col-2 > .col {
  margin-bottom: 0;
}

.panel-seminar .panel > .hdg {
  margin-top: 0;
  position: relative;
  padding-left: 18px;
}

.panel-seminar .panel > .hdg:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 2px;
  margin-top: -5px;
  background-position: -137px 0px;
  width: 10px;
  height: 10px;
}

.panel-seminar .panel .name {
  font-size: 114.29%;
}

.panel-system {
  margin-top: 20px;
}

.panel-system > .content {
  padding: 20px 20px 30px 19px;
  border: 1px solid #cacaca;
}

.panel-system > .content + * {
  margin-top: 0;
}

.panel-system .content-inner {
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid #cacaca;
}

.panel-system.branch > .content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.panel-system.branch > .content > .hdg {
  margin-top: 30px;
  margin-bottom: 15px;
}

.panel-system.branch > .content > .hdg:first-child {
  margin-top: 0;
}

.panel-faq-container {
  padding-bottom: 20px;
  border-bottom: 1px solid #bcbcbc;
}

.panel-faq {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #bcbcbc;
}

.panel-faq .txt-question,
.panel-faq .txt-answer {
  display: table;
  width: 100%;
  font-size: 142.86%;
  font-weight: bold;
  line-height: 1.2;
}

.panel-faq .txt-question .icon,
.panel-faq .txt-question .txt,
.panel-faq .txt-answer .icon,
.panel-faq .txt-answer .txt {
  display: table-cell;
  vertical-align: middle;
}

.panel-faq .txt-question .icon,
.panel-faq .txt-answer .icon {
  padding-right: 10px;
  width: 40px;
}

.panel-faq .txt-question .txt,
.panel-faq .txt-answer .txt {
  font-weight: bold;
  line-height: 1.2;
}

.panel-faq .txt-answer .txt {
  color: #0ab7b9;
}

.panel-faq .txt-answer .txt em {
  color: #ffa800;
}

.panel-faq .col-inner {
  margin-left: 50px;
}

.panel-exchange {
  margin-top: 10px;
  padding: 25px 0 30px;
  background-color: #f7f7f7;
}

.panel-exchange > .hdg {
  text-align: center;
}

.panel-charm {
  background: #F7F7F7;
}

.panel-charm .box-relative {
  position: relative;
}

.panel-charm #charm-nav {
  margin-bottom: 10px;
  height: 366px;
  background: url(/allure/image/index-bg-01.gif) no-repeat left top;
}

.panel-charm #charm-nav h2 {
  position: absolute;
  top: 23px;
  left: 0;
}

.panel-charm #charm-nav .fig {
  position: absolute;
  top: 87px;
  left: 41px;
  margin-top: 0;
}

.panel-charm #charm-nav .nav {
  position: absolute;
  top: 87px;
  right: 47px;
}

.panel-charm #charm-nav .nav li + li {
  margin-top: 5px;
}

.panel-charm .box-bdr {
  border: 1px solid #CACACA;
  padding-bottom: 25px;
  background: #fff;
}

.panel-charm #reason2.box-bdr {
  padding-bottom: 0;
  min-height: 343px;
  background: url(/allure/image/index-bg-02.jpg) no-repeat left bottom white;
}

.panel-charm #reason3.box-bdr {
  padding-bottom: 0;
  min-height: 383px;
  background: url(/allure/image/index-bg-03.jpg) no-repeat left bottom white;
}

.panel-charm #reason4.box-bdr {
  padding-bottom: 0;
  min-height: 314px;
  background: url(/allure/image/index-bg-04.jpg) no-repeat left bottom white;
}

.panel-charm .box-bdr + .box-bdr {
  border-top: none;
}

.panel-charm .box-bdr .lyt-txt .fig {
  float: left;
  margin: 5px 0 0 50px;
}

.panel-charm .box-bdr .lyt-txt .fig li + li {
  margin-top: 5px;
}

.panel-charm .box-bdr .lyt-txt .fig2 {
  float: left;
  margin-left: 40px;
  width: 339px;
}

.panel-charm .box-bdr .lyt-txt .fig2 li {
  float: left;
  margin: 0 9px 9px 0;
}

.panel-charm .box-bdr .lyt-txt .txt {
  float: right;
  margin-right: 20px;
  width: 315px;
}

.panel-charm .box-bdr .lyt-txt .txt p {
  margin-top: 0;
}

.panel-charm #reason3.box-bdr .btn-list {
  margin-top: 100px;
}

.panel-charm .box-bdr .box-bdr-inner {
  margin: 0 auto;
  padding-top: 5px;
  width: 615px;
}

.panel-mirror {
  background: #F7F7F7;
}

.panel-mirror .nav-anchor-mirror {
  margin: 0 -15px 0 15px;
}

.panel-mirror .nav-anchor-mirror li {
  float: left;
  margin: 0 15px 10px 0;
}

.panel-mirror .box-bdr + .box-bdr {
  margin-top: 30px;
}

.panel-mirror #mt-charm.box-bdr,
.panel-mirror #mt-movie.box-bdr {
  margin-top: 15px;
}

.panel-mirror #mt-search.box-bdr {
  margin-top: 20px;
}

.panel-mirror .box-bdr .box-bdr-inner {
  border: 1px solid #CACACA;
  border-top: none;
  padding: 10px 19px 20px;
  background: #fff;
}

.panel-mirror .box-bdr-inner .catch {
  margin-top: 0;
  padding-top: 10px;
  text-align: center;
}

.panel-mirror #mt-select .box-bdr-inner .lyt-txt {
  padding-top: 10px;
  background: url(/service/mirror/image/index-bg-01.jpg) no-repeat right 65px;
}

.panel-mirror #mt-select .box-bdr-inner .lyt-txt p {
  width: 370px;
}

.panel-mirror #mt-select .box-bdr-inner .panel-article {
  margin-top: 20px;
  padding: 20px 33px 20px 23px;
  background: url(/service/mirror/image/index-bg-02.gif) no-repeat left top;
}

.panel-mirror #mt-charm .box-bdr-inner h4:first-child {
  padding-top: 10px;
}

.panel-mirror #mt-charm .box-bdr-inner h4 + p {
  margin-top: 0;
  padding: 10px 20px;
  background: #F7F7F7;
}

.panel-mirror #mt-search .lyt-txt {
  margin-top: 25px;
  min-height: 165px;
}

.panel-mirror #mt-search .lyt-txt.search {
  background: url(/service/mirror/image/index-bg-03.gif) no-repeat right top;
}

.panel-mirror #mt-search .lyt-txt.ranking {
  margin-top: 20px;
  background: url(/service/mirror/image/index-bg-04.gif) no-repeat right top;
}

.panel-mirror #mt-search .lyt-txt dt,
.panel-mirror #mt-search .lyt-txt dd {
  width: 408px;
}

.panel-mirror #mt-search .lyt-txt dt {
  border-bottom: 2px solid #4F1843;
  margin-bottom: 10px;
}

.panel-mirror #mt-standard .lyt-txt {
  margin-top: 25px;
  min-height: 210px;
  background: url(/service/mirror/image/index-bg-05.jpg) no-repeat right top;
}

.panel-mirror #mt-standard .lyt-txt p {
  width: 400px;
}

.panel-mirror #mt-movie h4 {
  padding-top: 10px;
}

.panel-mirror #mt-movie .notes {
  display: inline-block;
  margin-top: 10px;
  max-width: 640px;
  text-align: left;
}

.col-2,
.col-3,
.col-4,
.col-5 {
  margin-top: 10px;
  overflow: hidden;
  width: 101.99734%;
}

.col-2 > .col,
.col-2 > li,
.col-3 > .col,
.col-3 > li,
.col-4 > .col,
.col-4 > li,
.col-5 > .col,
.col-5 > li {
  float: left;
  margin: 0 0 0 1.99734%;
}

.col-2 [class*="hdg-l"],
.col-3 [class*="hdg-l"],
.col-4 [class*="hdg-l"],
.col-5 [class*="hdg-l"] {
  margin-top: 0;
}

.col-2 > .col > *:first-child,
.col-3 > .col > *:first-child,
.col-4 > .col > *:first-child,
.col-5 > .col > *:first-child {
  margin-top: 0;
}

.col-2 {
  margin-left: -1.99734%;
}

.col-2 > * {
  width: 48.00266%;
}

.col-2 > *:nth-child(2n+1) {
  clear: both;
}

.col-3 {
  margin-left: -1.99734%;
}

.col-3 > * {
  width: 31.336%;
}

.col-3 > *:nth-child(3n+1) {
  clear: both;
}

.col-4 {
  margin-left: -1.99734%;
}

.col-4 > * {
  width: 23.00266%;
}

.col-4 > *:nth-child(4n+1) {
  clear: both;
}

.col-5 {
  margin-left: -1.99734%;
}

.col-5 > * {
  width: 18.00266%;
}

.col-5 > *:nth-child(5n+1) {
  clear: both;
}

.col-1.tool {
  margin: 0 auto;
  width: 530px;
}

.col-1.tool.branch {
  width: 671px;
}

.col-1.tool.branch .col-1-inner {
  margin: 0 auto;
  width: 530px;
}

.col-2.login {
  margin-left: 0;
  overflow: visible;
  width: 100%;
}

.col-2.login .col-left {
  float: left;
  width: 426px;
}

.col-2.login .col-right {
  float: right;
  width: 545px;
}

.col-2.dt {
  margin-left: 0;
  width: 100%;
  background: url(/service/image/dt-bg-col-2.gif) repeat-y 0 0;
  overflow: visible;
}

.col-2.dt .col-left {
  float: left;
  width: 357px;
}

.col-2.dt .col-right {
  float: right;
  width: 357px;
}

.tbl {
  margin-top: 10px;
  padding: 0;
  width: 100%;
  border: none;
  border-spacing: 0;
  border-top: 1px solid #999;
  border-right: 1px solid #999;
}

.tbl th,
.tbl td {
/* 2016.11.07 modify >>>>> */
/*
  padding: 5px 10px 4px;
*/
  padding: 5px 8px 4px;
/* 2016.11.07 modify <<<<< */
  border: none;
  border-bottom: 1px solid #999;
  border-left: 1px solid #999;
  font-weight: normal;
}

.tbl th {
  text-align: center;
}

.tbl thead th,
.tbl thead td {
  background-color: #484848;
  color: #fff;
}

.tbl tbody th {
  background-color: #f2f2f2;
}

.tbl tbody td > *:first-child {
  margin-top: 0;
}

.tbl .cell-01 {
  background-color: #f2f2f2;
}

.tbl.service thead th,
.tbl.service thead td {
  color: #000;
}

.tbl.service thead .product-exchange {
  background-color: #b2d3ed;
}

.tbl.service thead .product-system {
  background-color: #ffcfb2;
}

.tbl.service thead .product-mirror {
  background-color: #dae7be;
}

.tbl.swap {
  font-size: 85.71%;
}

.tbl.swap th,
.tbl.swap td {
  padding: 3px 5px 2px;
}

.tbl.swap tbody th,
.tbl.swap tbody td {
  text-align: center;
}

.tbl.market tbody th {
  padding: 5px 5px 4px;
}

.tbl.market tbody .person td {
  padding: 0;
  width: 207px;
}

.tbl.market tbody .recommend td {
  padding-bottom: 43px;
  background-repeat: no-repeat;
  background-position: 0 100%;
}

.tbl.market tbody .recommend td.recommend-01 {
  background-image: url(/market/image/index-bg-use-01.png);
}

.tbl.market tbody .recommend td.recommend-02 {
  background-image: url(/market/image/index-bg-use-02.png);
}

.tbl.market tbody .recommend td.recommend-03 {
  background-image: url(/market/image/index-bg-use-03.png);
}

.tbl.market .point-01 {
  background-color: #fbcee9;
}

.tbl.market .point-02 {
  background-color: #cddbf3;
}

.tbl.market .point-03 {
  background-color: #d1e6d4;
}

.tbl.market [class*="point-"] {
  vertical-align: top;
}

.form-select-narrowing {
  padding: 0;
  background-color: #fff;
  font-size: 14px;
  color: #000;
  border: 1px solid #c5c5c5;
}

.form-list {
  margin-top: 10px;
}

.form-list.inline > li {
  margin-right: 10px;
  display: inline-block;
}

.form-list-login li {
  margin: 10px 0;
}

.form-list-login label {
  display: block;
  position: relative;
  padding: .1em 0;
}

.form-list-login label input {
  position: absolute;
  right: 0;
  top: 0;
}

.panel-form {
  margin: 10px auto 0;
  padding: 1px 10px 10px;
  background-color: #efefef;
  text-align: center;
}

.carousel-container {
/* 2016.11.07 modify >>>>> */
/*
  margin: 0 0 15px 0;
*/
  margin: 0 0 10px 0;
/* 2016.11.07 modify <<<<< */
}

.carousel-list > li {
  float: left;
}

.carousel-nav {
  position: relative;
  background-color: #e6e6e6;
}

.carousel-nav-01 {
  margin: 0 2px 0 5px;
  overflow: hidden;
  height: 75px;
  overflow: hidden;
  height: 75px;
}

.carousel-nav-01 > li {
  float: left;
  margin: 0 4px 0 0;
  padding: 9px 0 0;
}

.carousel-nav-01 > li.current {
  background: url("/images/index-icon-carousel-current.png") no-repeat scroll 50% 3px transparent;
}

.carousel-nav-01 > li.current a {
  border: 3px solid #006ec2;
}

.carousel-nav-01 > li.current img {
  margin: -3px;
}

.carousel-nav-01 > li a {
  display: inline-block;
  overflow: hidden;
}

.carousel-nav-01 > li a:hover,
.carousel-nav-01 > li a:active,
.carousel-nav-01 > li a:focus {
  border: 3px solid #006ec2;
}

.carousel-nav-01 > li a:hover img,
.carousel-nav-01 > li a:active img,
.carousel-nav-01 > li a:focus img {
  margin: -3px;
}

.carousel-nav-02 > li {
  position: absolute;
  top: 15px;
}

.carousel-nav-02 .prev {
  left: 0;
}

.carousel-nav-02 .next {
  right: 0;
}

.top-panel-feature {
  margin: 8px 0 15px;
  padding: 0 11px;
}

.top-panel-feature .hdg {
  margin: 15px 0 5px;
  text-align: center;
}

.top-panel-feature .top-list-feature-01 li,
.top-panel-feature .top-list-feature-02 li {
  float: left;
}

.top-panel-feature .top-list-feature-01 li {
  margin: 0 0 7px 7px;
}

.top-panel-feature .top-list-feature-01 li:first-child {
  margin-left: 0;
}

.top-panel-feature .top-list-feature-02 li {
  margin-top: 4px;
}

.top-col-2.top-info {
  background: #594e86;
  margin: 0;
  width: 100%;
  position: relative;
  min-height: 628px;
  margin: 0 0 12px;
}

.top-col-2.top-info:before {
  background-color: #322666;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  content: "";
  display: block;
  height: 6px;
  left: 0;
  position: absolute;
  top: 0;
  width: 751px;
}

.top-col-2.top-info > .hdg {
  padding: 4px 10px 12px;
}

.top-col-2.top-info .col-left {
  margin: 0 10px 10px;
  width: 470px;
  min-height: 575px;
  background: #fff;
  float: left;
  padding: 0 0 26px;
}

.top-col-2.top-info .col-right {
  float: left;
  margin: 0;
  min-height: 579px !important;
  width: 250px;
}

.top-col-2 > *:nth-child(2n+1) {
  clear: none;
}

.list-info > li {
  background-color: #e8e8e8;
  position: relative;
}

.list-info > li:after {
  background-color: #12459e;
  bottom: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  content: "";
  display: block;
  height: 32px;
  left: 0;
  position: absolute;
  width: 5px;
}

.list-info a {
  display: block;
  position: relative;
  padding: 5px 0 5px 20px;
}

.list-info a:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 10px;
  margin-top: -3px;
  background-position: -38px 0px;
  width: 4px;
  height: 5px;
}

.list-news-02 {
  margin: 0 0 0 15px;
}

.list-news-02 > .hdg {
  margin-bottom: 12px;
  padding: 10px 0;
  border-bottom: 2px solid #837aa4;
  width: 100%;
}

.list-news-02 li {
  margin: 0 0 21px;
}

.list-news-02 li div {
  margin-top: 4px;
}

.list-news-02 .icon-label {
  vertical-align: middle;
  margin: -3px 0 0 5px;
}

.list-news-02 .icon-pdf {
  margin: -3px 6px 0 0;
}

.list-news-02 a {
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.td-foot {
  font-size: 120% !important;
}

.tbl-spread {
  border: 1px solid white !important;
  margin: 0 0 10px;
  font-size: 71.43%;
  width: 250px;
  border: none;
  border-collapse: separate;
  border-spacing: 0;
}

.tbl-spread th,
.tbl-spread td {
  padding: 2px 0;
  border: none;
  font-weight: normal;
  background-color: #ededed;
  text-align: center;
  font-size: 100%;
}

.tbl-spread th ul.link-list > li > a,
.tbl-spread td ul.link-list > li > a {
  font-size: 120%;
  position: absolute;
  top: -13px;
  left: 34px;
}

.tbl-spread th > ul.link-list,
.tbl-spread td > ul.link-list {
  position: relative;
}

.tbl-spread thead th {
  background-color: #4d4d4d;
  color: #fff;
  padding: 3px 0;
}

.tbl-spread thead .border {
  border-right: 1px solid #bcbcbc;
}

.tbl-spread tbody th {
  width: 54px;
}

.tbl-spread tbody th,
.tbl-spread tbody td {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #d9d9d9;
}

.tbl-spread tbody td {
  font-size: 110%;
}

.tbl-spread tbody td > span {
  display: block;
  padding: 5px 3px;
}

.tbl-spread tbody td > span span {
  font-size: 118.18%;
}

.tbl-spread tfoot td {
  border-top: 1px solid #fff;
}

.tbl-spread .em-01 {
  color: #fff;
  background: #c70017;
}

.tbl-spread .em-02 {
  color: #fff;
  background: #006ec2;
}

.tbl-spread .em-03 {
  color: #000;
}

.tbl-spread .bid {
  margin-left: 4px;
  width: 68px;
}

.tbl-spread .spread {
  font-size: 118.18%;
  padding: 8px 11px;
  width: 50px;
  background-color: #fff;
}

.tbl-spread .ask {
  margin-right: 4px;
  width: 68px;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.aleft {
  text-align: left !important;
}

.acenter {
  margin-right: auto !important;
  margin-left: auto !important;
  text-align: center !important;
}

.aright {
  text-align: right !important;
}

.vtop {
  vertical-align: top !important;
}

.vmiddle {
  vertical-align: middle !important;
}

.vbottom {
  vertical-align: bottom !important;
}

.border-top-reset {
  border-top: none !important;
}

.border-right-reset {
  border-right: none !important;
}

.border-bottom-reset {
  border-bottom: none !important;
}

.border-left-reset {
  border-left: none !important;
}

.w-5 {
  width: 5% !important;
}

.w-10 {
  width: 10% !important;
}

.w-15 {
  width: 15% !important;
}

.w-20 {
  width: 20% !important;
}

.w-25 {
  width: 25% !important;
}

.w-30 {
  width: 30% !important;
}

.w-35 {
  width: 35% !important;
}

.w-40 {
  width: 40% !important;
}

.w-45 {
  width: 45% !important;
}

.w-50 {
  width: 50% !important;
}

.w-55 {
  width: 55% !important;
}

.w-60 {
  width: 60% !important;
}

.w-65 {
  width: 65% !important;
}

.w-70 {
  width: 70% !important;
}

.w-75 {
  width: 75% !important;
}

.w-80 {
  width: 80% !important;
}

.w-85 {
  width: 85% !important;
}

.w-90 {
  width: 90% !important;
}

.w-95 {
  width: 95% !important;
}

.w-100 {
  width: 100% !important;
}

.w-33 {
  width: 33.333% !important;
}

.w-66 {
  width: 66.666% !important;
}

.pt0,
.pv0,
.pa0 {
  padding-top: 0px !important;
}

.pr0,
.ph0,
.pa0 {
  padding-right: 0px !important;
}

.pb0,
.pv0,
.pa0 {
  padding-bottom: 0px !important;
}

.pl0,
.ph0,
.pa0 {
  padding-left: 0px !important;
}

.mt0,
.mv0,
.ma0 {
  margin-top: 0px !important;
}

.mr0,
.mh0,
.ma0 {
  margin-right: 0px !important;
}

.mb0,
.mv0,
.ma0 {
  margin-bottom: 0px !important;
}

.ml0,
.mh0,
.ma0 {
  margin-left: 0px !important;
}

.pt5,
.pv5,
.pa5 {
  padding-top: 5px !important;
}

.pr5,
.ph5,
.pa5 {
  padding-right: 5px !important;
}

.pb5,
.pv5,
.pa5 {
  padding-bottom: 5px !important;
}

.pl5,
.ph5,
.pa5 {
  padding-left: 5px !important;
}

.mt5,
.mv5,
.ma5 {
  margin-top: 5px !important;
}

.mr5,
.mh5,
.ma5 {
  margin-right: 5px !important;
}

.mb5,
.mv5,
.ma5 {
  margin-bottom: 5px !important;
}

.ml5,
.mh5,
.ma5 {
  margin-left: 5px !important;
}

.pt10,
.pv10,
.pa10 {
  padding-top: 10px !important;
}

.pr10,
.ph10,
.pa10 {
  padding-right: 10px !important;
}

.pb10,
.pv10,
.pa10 {
  padding-bottom: 10px !important;
}

.pl10,
.ph10,
.pa10 {
  padding-left: 10px !important;
}

.mt10,
.mv10,
.ma10 {
  margin-top: 10px !important;
}

.mr10,
.mh10,
.ma10 {
  margin-right: 10px !important;
}

.mb10,
.mv10,
.ma10 {
  margin-bottom: 10px !important;
}

.ml10,
.mh10,
.ma10 {
  margin-left: 10px !important;
}

.pt15,
.pv15,
.pa15 {
  padding-top: 15px !important;
}

.pr15,
.ph15,
.pa15 {
  padding-right: 15px !important;
}

.pb15,
.pv15,
.pa15 {
  padding-bottom: 15px !important;
}

.pl15,
.ph15,
.pa15 {
  padding-left: 15px !important;
}

.mt15,
.mv15,
.ma15 {
  margin-top: 15px !important;
}

.mr15,
.mh15,
.ma15 {
  margin-right: 15px !important;
}

.mb15,
.mv15,
.ma15 {
  margin-bottom: 15px !important;
}

.ml15,
.mh15,
.ma15 {
  margin-left: 15px !important;
}

.pt20,
.pv20,
.pa20 {
  padding-top: 20px !important;
}

.pr20,
.ph20,
.pa20 {
  padding-right: 20px !important;
}

.pb20,
.pv20,
.pa20 {
  padding-bottom: 20px !important;
}

.pl20,
.ph20,
.pa20 {
  padding-left: 20px !important;
}

.mt20,
.mv20,
.ma20 {
  margin-top: 20px !important;
}

.mr20,
.mh20,
.ma20 {
  margin-right: 20px !important;
}

.mb20,
.mv20,
.ma20 {
  margin-bottom: 20px !important;
}

.ml20,
.mh20,
.ma20 {
  margin-left: 20px !important;
}

.pt25,
.pv25,
.pa25 {
  padding-top: 25px !important;
}

.pr25,
.ph25,
.pa25 {
  padding-right: 25px !important;
}

.pb25,
.pv25,
.pa25 {
  padding-bottom: 25px !important;
}

.pl25,
.ph25,
.pa25 {
  padding-left: 25px !important;
}

.mt25,
.mv25,
.ma25 {
  margin-top: 25px !important;
}

.mr25,
.mh25,
.ma25 {
  margin-right: 25px !important;
}

.mb25,
.mv25,
.ma25 {
  margin-bottom: 25px !important;
}

.ml25,
.mh25,
.ma25 {
  margin-left: 25px !important;
}

.pt30,
.pv30,
.pa30 {
  padding-top: 30px !important;
}

.pr30,
.ph30,
.pa30 {
  padding-right: 30px !important;
}

.pb30,
.pv30,
.pa30 {
  padding-bottom: 30px !important;
}

.pl30,
.ph30,
.pa30 {
  padding-left: 30px !important;
}

.mt30,
.mv30,
.ma30 {
  margin-top: 30px !important;
}

.mr30,
.mh30,
.ma30 {
  margin-right: 30px !important;
}

.mb30,
.mv30,
.ma30 {
  margin-bottom: 30px !important;
}

.ml30,
.mh30,
.ma30 {
  margin-left: 30px !important;
}

.pt35,
.pv35,
.pa35 {
  padding-top: 35px !important;
}

.pr35,
.ph35,
.pa35 {
  padding-right: 35px !important;
}

.pb35,
.pv35,
.pa35 {
  padding-bottom: 35px !important;
}

.pl35,
.ph35,
.pa35 {
  padding-left: 35px !important;
}

.mt35,
.mv35,
.ma35 {
  margin-top: 35px !important;
}

.mr35,
.mh35,
.ma35 {
  margin-right: 35px !important;
}

.mb35,
.mv35,
.ma35 {
  margin-bottom: 35px !important;
}

.ml35,
.mh35,
.ma35 {
  margin-left: 35px !important;
}

.pt40,
.pv40,
.pa40 {
  padding-top: 40px !important;
}

.pr40,
.ph40,
.pa40 {
  padding-right: 40px !important;
}

.pb40,
.pv40,
.pa40 {
  padding-bottom: 40px !important;
}

.pl40,
.ph40,
.pa40 {
  padding-left: 40px !important;
}

.mt40,
.mv40,
.ma40 {
  margin-top: 40px !important;
}

.mr40,
.mh40,
.ma40 {
  margin-right: 40px !important;
}

.mb40,
.mv40,
.ma40 {
  margin-bottom: 40px !important;
}

.ml40,
.mh40,
.ma40 {
  margin-left: 40px !important;
}

.mb-5 {
  margin-bottom: -5px !important;
}

.w126 {
  width: 126px;
}

.w190 {
  width: 190px;
}

.w207 {
  width: 207px;
}

.sp-bnr {
width:100%;
}

.sp-bnr img {
width:100%;
}

.str-corp .nav-global > li {
    padding: 5px 0;
}
.str-corp .nav-global > li:first-child a {
    border-left: 1px solid #ccc;
}
.str-corp .nav-global > li a {
    border-right: 1px solid #ccc;
}
.str-corp .nav-global > li > a::after {
    width: 0;
    height: 0;
    position: static;
}

.str-corp .nav-global > li.HomeTab > a::before,
.str-corp .nav-global > li.HomeTab.current > a::before,
.str-corp .nav-global.branch-02 > li.HomeTab.current > a::before,
.str-corp .nav-global > li.EraberuGaikaTab > a::before,
.str-corp .nav-global > li.GaitameOptionTab > a::before,
.str-corp .nav-global > li.ChoitrFxTab > a::before,
.str-corp .nav-global > li.MyPageTab > a::before,
.str-corp .nav-global > li.MyPageTab.current > a::before,
.str-corp .nav-global.branch-02 > li.MyPageTab.current > a::before{
	content: "";
	margin: -5px 5px -5px 0;
	width: 22px;
	height: 22px;
	display:inline-block;
	position: static !important;
    background: url(../images/icon-gn.png) no-repeat;
	background-size: auto 22px;
}

.str-corp .nav-global > li.HomeTab > a::before {
	background-position: -44px 0px;
}
.str-corp .nav-global > li.HomeTab.current > a::before {
	background-position: -22px 0px;
}
.str-corp .nav-global.branch-02 > li.HomeTab.current > a::before {
	background-position: 0px 0px;
}
.str-corp .nav-global > li.EraberuGaikaTab > a::before {
	background-position: -66px 0px;
}
.str-corp .nav-global > li.GaitameOptionTab > a::before {
	background-position: -88px 0px;
}
.str-corp .nav-global > li.ChoitrFxTab > a::before {
	background-position: -110px 0px;
}
.str-corp .nav-global > li.MyPageTab > a::before {
	background-position: -176px 0px;
}
.str-corp .nav-global > li.MyPageTab.current > a::before {
	background-position: -155px 0px;
}
.str-corp .nav-global.branch-02 > li.MyPageTab.current > a::before {
	background-position: -133px 0px;
}